---
import render from "../../../assets/images/AsphaltPlant/render.webp";
import { Image } from "astro:assets";
---

<section class="w-full mt-20 lg:mt-32 flex flex-col gap-10">
  <div
    class="w-full max-w-7xl mx-auto px-8 lg:px-52 flex items-center justify-center"
  >
    <h1 class="text-grisT font-bold text-3xl lg:text-4xl text-center pt-5 lg:pt-0 md:pt-0">
      ADVANTAGES
    </h1>
  </div>
  <div class="w-full max-w-7xl px-8 mx-auto">
    <h2 class="text-blueMain text-center font-bold text-xl lg:text-3xl md:text-3xl">
      Design and fabrication under the highest quality standards to ensure
      continuous hot-mix production with minimal breakdowns
    </h2>
  </div>
  <div
    class="w-full max-w-7xl mx-auto px-8 grid grid-cols-1 lg:grid-cols-2 gap-10 "
  >
    <div>
      <p class="text-center text-sm lg:text-xl md:text-xl">
        Extra-reinforced drum chassis designed to maintain perfect alignment of
        the drum bearing system, minimizing wear on bearings, trunnions, and
        steel tires.
      </p>
    </div>
    <div>
      <p class="text-center text-sm lg:text-xl md:text-xl">
        Design and fabrication refined to the last detail, backed by the
        experience of over 300 asphalt plants manufactured and continuously
        improved through the maintenance services we provide.
      </p>
    </div>
  </div>
  <div class="flex justify-center max-w-7xl mx-auto">
    <Image src={render} alt="Drum mixer with bin units system" />
  </div>
  <div
    class="relative w-full flex flex-col justify-center items-center min-h-[50vh] px-8 py-10 bg-[url(/hero2.webp)] bg-cover bg-[center_bottom] bg-no-repeat"
  >
    <div class="absolute inset-0 bg-[#1f3c66]/70"></div>

    <h1 class="relative font-bold text-2xl lg:text-3xl md:text-3xl text-center text-white">
      Mobility and Installation
    </h1><br />
    <div
      class="relative w-full max-w-7xl mx-auto text-white grid grid-cols-1 lg:grid-cols-2 gap-10 py-10 "
    >
      <div>
        <p class="text-center text-sm lg:text-xl md:text-xl">
          Compact and mobile size, perfect for short-term jobs with frequent
          relocations.
        </p>
      </div>
      <div>
        <p class="text-center text-sm lg:text-xl md:text-xl">
          Simple installation and leveling of the equipment—mixing drum, bins
          unit, and asphalt tank—thanks to predetermined chassis height and
          alignment.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full max-w-7xl mx-auto py-5">
    <h1 class="text-2xl lg:text-3xl md:text-3xl font-bold text-black text-center">
      Material Handling
    </h1><br />
    <div
      class="w-full grid grid-cols-1 lg:grid-cols-2 gap-5 px-8 py-3 font-bold  text-redBg text-center"
    >
      <div>
        <p class="text-xl lg:text-2xl">High capacity bins that reduce payloader dependency.</p>
      </div>
      <div>
        <p class="text-xl lg:text-2xl">
          Dosing and feeding conveyor systems manufactured under CEMA standards
        </p>
      </div>
    </div>
  </div>
  <div class="w-full max-w-7xl mx-auto px-8 py-10">
    <h1 class="text-2xl lg:text-3xl md:text-3xl font-bold text-black">
      Asphalt and Fuel Systems
    </h3>
    <div
      class="w-full grid grid-cols-1 lg:grid-cols-2 gap-10 py-10 font-bold text-lg lg:text-2xl md:text-2xl text-blueMain text-justify"
    >
      <div>
        <p>
          Asphalt injection pump submerged inside the asphalt tank, eliminating
          the need to purge and pre-heat the jacket system; immediate startup,
          even in the coldest climates.
        </p>
      </div>
      <div>
        <p>
          Fuel filtering system designed for burning waste oils, preventing
          clogged fuel lines. <br /><br />
          Fuel filtering system, pre-heater, and fuel pump mounted on a hinged and
          sliding base, keeping the pump at a low level to avoid purging and starting
          issues.
        </p>
      </div>
    </div>
  </div>
</section>
