<section class="w-full">
    <div class="bg-grisT">
        <div
            class="w-full max-w-7xl mx-auto text-white font-bold px-8 lg:px-52 py-10 flex flex-col gap-6"
        >
            <h1 class="text-center text-2xl lg:text-3xl md:text-3xl">
                Tecnología del tambor mezclador
            </h1>
            <h2 class="text-lg lg:text-xl">
                Tambor fabricado con secciones de álabes específicas para cada
                fase del proceso:
            </h2>
            <ul
                class="ml-6 list-disc font-thin space-y-6 py-10 text-sm lg:text-lg md:text-lg"
            >
                <li>
                    <span class="font-bold">Selección de carga:</span> Los álabes
                    forman una cortina de agregados que retiene el calor y evita que
                    los agregados caigan dentro de la flama.
                </li>
                <li>
                    <span class="font-bold">Sección de secado:</span> Álabes de veleo
                    completo que aseguran un intercambio eficiente de calor y un secado
                    rápido.
                </li>
                <li>
                    <span class="font-bold">Sección de calentamiento:</span> Álabes
                    de veleo completo para calentamiento rápido.
                </li>
                <li>
                    <span class="font-bold">Sección de mezclado:</span> Álabes de
                    incorporación intensa para una mezcla rápida y homogénea entre
                    asfalto y agregados.
                </li>
                <li>
                    <span class="font-bold"
                        >Sección de reincorporación de polvo:</span
                    > Álabes compuestos que reincorporan las partículas finas arrastradas
                    por la corriente de aire.
                </li>
                <li>
                    <span class="font-bold">Sección de homogenización:</span> Conjuntos
                    de álabes para una homogenización total de la mezcla terminada.
                </li>
                <li>
                    <span class="font-bold">Sección de descarga:</span> Álabes diseñados
                    para evitar recirculación o segregación, asegurando una transferencia
                    eficiente hacia el elevador de arrastre.
                </li>
            </ul>
            <h2 class="text-lg lg:text-xl text-center">
                La eficiencia del sistema de álabes se refleja en la mínima
                diferencia de temperatura entre los gases de escape y la mezcla
                asfáltica.
            </h2>
        </div>
    </div>

    <div>
        <div class="w-full max-w-7xl mx-auto px-8 py-20">
            <h3 class="text-2xl lg:text-3xl font-bold text-black text-center">
                Bajo consumo de combustible
            </h3>
            <div
                class="w-full grid grid-cols-1 lg:grid-cols-2 gap-5 py-10 text-base lg:text-xl text-center"
            >
                <div>
                    <p>
                        Bajo consumo de combustible gracias al quemador aire
                        total y al sistema de precalentamiento.
                    </p>
                </div>
                <div>
                    <p>
                        Quemador de potencia variable que mantiene una
                        atomización perfecta incluso a bajas producciones,
                        reduciendo el desperdicio de combustible.
                    </p>
                </div>
                <div>
                    <p>
                        Aislamiento térmico que mantiene el calor dentro del
                        tambor, maximizando la eficiencia energética.
                    </p>
                </div>
                <div>
                    <p>
                        Menor costo de adquisición y mantenimiento en
                        comparación con otras marcas con menos características.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="w-full py-20 bg-[url(/newBanner.webp)]">
            <div class="max-w-7xl mx-auto px-8">
                <h3
                    class="text-2xl lg:text-3xl font-bold text-white text-center"
                >
                    Cumplimiento ambiental y bajas Emisiones
                </h3>
                <div
                    class="w-full grid grid-cols-1 lg:grid-cols-2 text-white gap-5 py-10 text-base lg:text-xl text-center"
                >
                    <div>
                        <p>
                            Emisiones ultra bajas que cumplen y superan los
                            estándares ambientales mundiales.
                        </p>
                    </div>
                    <div>
                        <p>
                            El sistema de contraflujo evita el contacto directo
                            entre la flama y el asfalto, previniendo oxidación y
                            formación de humo.
                        </p>
                    </div>
                    <div>
                        <p>
                            Sistema de casa de bolsas tipo pulse-jet con amplia
                            área de filtración para un óptimo control de polvo.
                        </p>
                    </div>
                    <div>
                        <p>
                            Sistema de control automatizado que evita
                            desbalances e incremento de emisiones en cualquier
                            rango de producción.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
