<section class="w-full">
    <div class="bg-grisT">
        <div
            class="w-full max-w-7xl mx-auto text-white font-bold px-8 lg:px-52 py-10 flex flex-col gap-6"
        >
            <h1 class="text-center text-2xl lg:text-3xl md:text-3xl">
                Mixing Drum Technology
            </h1>
            <h2 class="text-lg lg:text-xl">
                Drum manufactured with specific flight sections for each process
                phase:
            </h2>
            <ul
                class="ml-6 list-disc font-thin space-y-6 py-10 text-sm lg:text-lg md:text-lg "
            >
                <li>
                    <span class="font-bold">Loading section:</span> Flights form
                    a material shield, retaining heat and preventing aggregates from
                    falling into the flame.
                </li>
                <li>
                    <span class="font-bold">Drying section:</span> Full veiling flights
                    ensure efficient heat exchange and rapid drying.
                </li>
                <li>
                    <span class="font-bold">Heating section:</span> Full veiling
                    flights for rapid heating.
                </li>
                <li>
                    <span class="font-bold">Mixing section:</span> Intense incorporation
                    flights for fast, homogeneous asphalt-aggregate mixing.
                </li>
                <li>
                    <span class="font-bold">Dust incorporation section:</span> Composite
                    flights reincorporate fine particles carried by the air stream.
                </li>
                <li>
                    <span class="font-bold">Homogenization section:</span> Flight
                    sets for total homogenization of the finished mix.
                </li>
                <li>
                    <span class="font-bold">Ejection section:</span> Flights designed
                    to prevent recycling or segregation, ensuring efficient transfer
                    to the drag elevator.
                </li>
            </ul>
            <h2 class="text-lg lg:text-xl text-center">
                The efficiency of the flight system is evident in the minimal
                temperature difference between exhaust gases and the hot mix
            </h2>
        </div>
    </div>

    <div class="w-full bg-[#393939] pt-10">
        <div class="w-full bg-bgBeige py-20 px-8  -skew-y-2">
            <div class="w-full max-w-7xl mx-auto">
                <div class="skew-y-2">
                    <h3
                        class="text-2xl lg:text-3xl font-bold text-black text-end"
                    >
                        Maintenance and Durability
                    </h3>
                    <div
                        class="w-full grid grid-cols-1 lg:grid-cols-2 gap-10 py-10 text-lg lg:text-xl md:text-xl text-blueMain text-center"
                    >
                        <div>
                            <p>
                                CEMA-certified conveyors and heavy-duty
                                construction ensure long-lasting operation.
                            </p>
                        </div>
                        <div>
                            <p>
                                Minimal maintenance thanks to high-quality
                                components built under strict standards.
                            </p>
                        </div>
                    </div>
                    <h3
                        class="text-grisT font-bold text-lg lg:text-xl text-center"
                    >
                        Spare parts available locally, reducing downtime.
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-bgBeige">
        <div class="w-full bg-bgBeige py-10 px-8 lg:px-52 -skew-y-3">
            <div class="w-full max-w-7xl mx-auto">
                <div class="skew-y-3">
                    <h3
                        class="text-2xl lg:text-3xl font-bold text-black text-center"
                    >
                        Performance Advantages
                    </h3>
                    <div
                        class="w-full grid grid-cols-1 lg:grid-cols-2 gap-10 py-10 text-lg lg:text-xl text-redBg text-center font-bold"
                    >
                        <div>
                            <p>
                                Higher production capacity than most brands with
                                the same drum size, especially in adverse
                                conditions <span class="font-thin">
                                    (high aggregate humidity, altitude, cold
                                    weather)</span
                                >.
                            </p>
                        </div>
                        <div>
                            <p>
                                Efficient heat transfer maximizes energy use and
                                minimizes fuel waste.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="w-full max-w-7xl mx-auto px-8 py-20">
            <h3 class="text-2xl lg:text-3xl font-bold text-black text-center">
                Low Fuel Consumption
            </h3>
            <div
                class="w-full grid grid-cols-1 lg:grid-cols-2 gap-5 py-10 text-base lg:text-xl text-center"
            >
                <div>
                    <p>
                        Low fuel consumption thanks to the Total-Air burner and
                        preheating system.
                    </p>
                </div>
                <div>
                    <p>
                        Variable-power burner maintains perfect atomization even
                        at low production rates, reducing fuel waste.
                    </p>
                </div>
                <div>
                    <p>
                        Thermal insulation keeps heat inside the drum,
                        maximizing energy efficiency.
                    </p>
                </div>
                <div>
                    <p>
                        Lower acquisition and maintenance cost compared to other
                        brands with fewer features.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="w-full py-20  bg-[url(/newBanner.webp)]">
            <div class="max-w-7xl mx-auto px-8">
                <h3
                    class="text-2xl lg:text-3xl font-bold text-white text-center"
                >
                    Environmental Compliance and Low Emissions
                </h3>
                <div
                    class="w-full grid grid-cols-1 lg:grid-cols-2 text-white gap-5 py-10 text-base lg:text-xl text-center"
                >
                    <div>
                        <p>
                            Ultra-low emissions that comply with and exceed
                            global environmental standards.
                        </p>
                    </div>
                    <div>
                        <p>
                            Counterflow system avoids direct contact between
                            flame and asphalt, preventing oxidation and smoke
                            formation.
                        </p>
                    </div>
                    <div>
                        <p>
                            Pulse-jet baghouse system with large filtration area
                            for optimal dust control.
                        </p>
                    </div>
                    <div>
                        <p>
                            Automated control system prevents imbalance and
                            emission increase during any production range.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
