---
import Card from "../unitComponents/Card.astro";
import OHCustom from "./OHCustom.astro";
import hotoil from "../../assets/images/AsphaltStorage/hotoil.webp";
import img1 from "../../assets/images/OilHeaters/6.webp"
import { Image } from "astro:assets";
---

<section class="w-full mt-10 md:mt-20 flex flex-col gap-5 md:gap-10 font-bold">
    <div class="w-full max-w-7xl mx-auto px-8 pb-10 lg:pb-0 md:pb-0 text-center">
        <h2 class="text-redBg text-2xl md:text-3xl">Keep Asphalt Flowing, Keep Profits Growing</h2>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-10 max-w-7xl mx-auto px-4 text-grisT font-bold">
        <Card>
            <h2 class="text-lg md:text-xl">Precision Temperature Control:</h2>
            <p class="text-base md:text-lg font-thin">
                Maintains exact process temperatures within a ±1°C tolerance, ensuring ideal conditions for material production.
            </p>
        </Card>
        <Card>
            <h2 class="text-lg md:text-xl">Customizable Heating Capacity: </h2>
            <p class="text-base md:text-lg font-thin">
                Available in multiple configurations to meet your project’s specific requirements — from compact operations to large-scale industrial systems.
            </p>
        </Card>
        <Card>
            <h2 class="text-lg md:text-xl">High-Efficiency Burners:</h2>
            <p class="text-base md:text-lg font-thin">
                Equipped with low-NOx technology that minimizes emissions while maximizing fuel efficiency.
            </p>
        </Card>
        <Card>
            <h2 class="text-lg md:text-xl">Thermal Oil Circulation System: 
            </h2>
            <p class="text-base md:text-lg font-thin">
                Delivers uniform heat distribution across the entire system, preventing hot spots and material degradation.
            </p>
        </Card>
    </div>
    <div class="text-center w-full py-5 px-4">
        <h2 class="text-blueMain text-2xl md:text-3xl">
            Stand out from the competition by offering the highest-quality mix.
        </h2>
    </div>
    <div>
        <!-- <img src="" alt=""> -->
    </div>
    <div class="w-full bg-grisT">
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 bg-grisT max-w-7xl mx-auto px-8 pt-10">
            <div class="w-full text-white">
                <h2 class="text-xl md:text-2xl font-bold text-center">Expansion Tank</h2><br>
                <p class="text-base md:text-lg font-thin">
                    Our oil heater ensures uniform heat distribution through advanced thermal oil circulation.
                     It features a built-in expansion tank that absorbs oil volume changes due to temperature,
                      stabilizing pressure and protecting the system for longer, maintenance-free operation.
                </p>
                <div class="lg:pt-5 md:pt-5">
                    <Image src="https://placehold.co/600x400/png" width={600} height={400} alt="" class="rounded-lg">
                </div>
            </div>
            <div class="w-full text-white">
                <h2 class="text-xl md:text-2xl font-bold text-center">High-Performance Recirculation Pump: </h2><br>
                <p class="text-base md:text-lg font-thin">
                    Equipped with a high-performance recirculation pump designed that maintains a constant flow of thermal
                     oil, ensuring efficient heat transfer. Available with a 10 HP or 15 HP motor depending on system capacity,
                      it is built for continuous operation with minimal maintenance and excellent energy efficiency.
                </p>
                <div class="lg:pt-5 md:pt-5">
                    <Image src={img1} alt="Recirculation Pump system" class="rounded-lg">
                </div>
            </div>
        </div>
        <div class="w-full bg-bgBeige px-8  py-10 -skew-y-2 overflow-hidden my-10">
            <div class="w-full max-w-7xl mx-auto skew-y-2 pt-5 lg:pt-8">
                <h2 class="text-grisT text-xl md:text-2xl font-bold">Oil Coils</h2>
                <p class="text-grisT text-base md:text-lg font-thin">
                    Inside the thermal oil heater, the coil — or heat exchanger — channels the 
                    thermal oil through a tightly wound spiral of steel tubing.The coil is heated 
                    indirectly by the burner, transferring energy to the oil without allowing combustion gases to mix with it. Once 
                    the oil reaches the target temperature,
                    it circulates through the system to heat the desired application — such as an asphalt tank or other industrial equipment — delivering 
                    consistent and efficient thermal performance.
                </p>
                <div class="w-full flex justify-center mt-6">
                    <Image src={hotoil} alt="Oil coils" class="w-full h-[200px] md:h-[350px] object-cover object-center rounded-2xl">
                </div>
            </div>
        </div>
       <OHCustom></OHCustom> 
    </div> 
</section>