---
import img1 from "../../assets/images/maquina1.webp";
import img2 from "../../assets/images/planos.webp";
import img3 from "../../assets/images/maquina2.webp";
import logo from "../../assets/logos/triasoLogo.webp";
import { Image } from "astro:assets";
---

<section class="w-full flex flex-col justify-center items-center">
    <div class="w-full bg-[#2e2e2e] flex flex-col justify-center items-center">
        <div class="relative w-full flex items-center overflow-hidden">
            <div
                class="absolute inset-0 bg-[length:120%] md:bg-[length:100%] lg:bg-cover bg-center bg-no-repeat opacity-40"
                style="background-image: url('/triasoLogo.webp')"
            >
            </div>
            <div class="relative flex flex-col mx-auto max-w-7xl px-8 py-10">
                <h1
                    class="text-white text-2xl lg:text-4xl font-bold text-center lg:text-start md:text-start"
                >
                    Fully Portable
                </h1>
                <br />
                <p
                    class="text-base text-center lg:text-justify md:text-justify lg:text-lg text-white font-thin"
                >
                    All components of our asphalt plants are engineered for
                    complete transportability, allowing for efficient and quick
                    setup. Their robust structure enables a smooth, hassle-free
                    installation directly on-site.
                </p>
            </div>
        </div>

        <div
            class="relative w-full
         bg-[url(/fabricaBG.webp)] bg-cover bg-center bg-no-repeat
         h-[850px] md:h-[800px] lg:h-[900px]
         flex flex-col justify-start pt-5 items-center"
        >
            <div class="absolute inset-0 bg-gradient-to-b from-[#2e2e2e]/100 to-transparent"></div>

            <details class="group relative w-full">
                <summary
                    class="list-none cursor-pointer flex justify-center items-center"
                >
                    <div class="text-blueMain px-4 py-2 rounded-2xl">
                        <svg
                            width="84"
                            height="84"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="transition-transform duration-300 group-open:rotate-180"
                        >
                            <path
                                d="M6 9L12 15L18 9"
                                stroke="#ffffff"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </summary>

                <div
                    class="max-w-7xl mx-auto flex flex-col lg:flex-row md:flex-row justify-between px-8"
                >
                    <div
                        class="flex flex-col justify-start items-start space-y-3 text-white"
                    >
                        <h1 class="font-bold text-2xl">
                            Integrated 5th wheel. Direct transport to site
                        </h1>
                        <div class="text-start pl-5 lg:pl-5 md:pl-5">
                            <li class="font-thin">
                                No lowbed or flatbed trailer.
                            </li>
                        </div>
                    </div>

                    <div class="flex flex-col text-white space-y-3">
                        <h1 class="font-bold text-2xl">
                            Complete plant delivered in just three loads
                        </h1>
                        <div class="pl-5 lg:text-start md:text-start">
                            <li class="font-thin">Simplified logistics.</li>
                            <li class="font-thin">Reduced setup time</li>
                        </div>
                    </div>
                </div>
            </details>

            <div
                class="w-full md:pr-52 py-10 grid grid-cols-1 md:grid-cols-2 gap-10 relative"
            >
                <div class="w-full flex flex-col gap-6 col-span-2">
                    <div class="w-3/4 md:pl-52 bg-redBg p-10 rounded-r-2xl">
                        <h2 class="text-xl md:text-3xl font-bold text-white">
                            100% manufactured in neighboring México
                        </h2>
                    </div>
                </div>
            </div>

            <div class="w-full lg:max-w-7xl flex justify-start items-start relative">
                <div class="bg-blueMain p-10 rounded-2xl lg:w-1/2">
                    <h2 class="text-xl md:text-3xl font-bold text-white">
                        Versatile Configurations
                    </h2>
                    <p class="text-base md:text-lg font-thin text-[#d9d9d9]">
                        Triaso® equipment is designed to adapt seamlessly to
                        your operational needs. Simply tell us your
                        requirements, and we’ll customize the equipment to
                        provide you with a tailored quote..
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
