---
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import img2 from "../../assets/images/AsphaltPlant/tanqueV.webp";
import tanque360 from "../../assets/images/AsphaltStorage/Tqe60.webp";
import AcordeonItemCol from "../unitComponents/AcordeonItemCol";
import ASPump from "../../assets/images/AsphaltStorage/ASPump.webp";
import ASHoses from "../../assets/images/AsphaltStorage/ASHoses.webp"
import fiberGlass from "../../assets/images/AsphaltPlant/Aislamiento.webp";
import ASAgitators from "../../assets/images/AsphaltPlant/agitators1.webp";
import ASGallerySlider from "../../components/AsphaltStorage/ASGallerySlider.tsx";
import { Image } from "astro:assets";

const images = [
  {
    src: ASPump.src,
    title: "Asphalt Pumps",
    description:
      "Asphalt pumping from the tank works through a pump located inside the tank, where the asphalt is stored, with its motor positioned at the top. Once heated, the asphalt is easily —where the hose is—since at high temperatures, asphalt behaves like water. To prevent blockages inside the pipe, the pump operates in both directions: forward and reverse. When the tank finishes operating, the pump draws the asphalt from the outlet hose back into the tank. Having the asphalt pump inside the tank ",
  },
  {
    src: ASAgitators.src,
    title: "Agitators for additives and polymers",
    description:
      "Designed to ensure a homogeneous blend of additives and polymers, uniform heat distribution, preventing hot spots. The agitator maintains consistent composition throughout the asphalt. ",
    list: [
      {
        text: "5 Hp agitators for:",
        sublist: [
          "Speeding up heating and homogenizing asphalt temperature.",
          "Incorporating type 2 polymers: natural latex, SBR, neoprene, etc.",
          "Incorporating additives such as: Rejuvenator for recycled asphalts, asphalt softener, for warm mix applications, adhesion promoter, etc.",
          "Maintaining homogeneity in polymer-modified asphalts.",
        ],
      },
    ],
  },
  {
    src: ASHoses.src,
    title: "Asphalt Hoses",
    description:
      "When the pump, which is submerged in the tank, is turned on, the material is transferred into a stainless-steel hose connected to the plant. From there, the flow enters the asphalt inlet, ensuring continuous and uniform delivery.",
  },
  {
    src: fiberGlass.src,
    title: "Three inches fiberglass insulation",
    description:
      "Our asphalt storage tanks feature three-inch fiberglass insulation, designed for superior performance in minimizing heat loss and maintaining consistent temperatures. This durable, energy-efficient insulation ensures your asphalt remains at the optimal temperature, ready for use. Additionally, the exterior is reinforced with a stainless steel sheet lining, providing enhanced durability and protection against harsh external conditions.",
  },
    {
    src: "https://placehold.co/600x400/png",
    title: "Heat exchange coils",
    description:
      "When the injection pump is external to the tank and already installed on the drum mixer—such as when the drum is supplied by another manufacturer—many systems require a thermal oil line to keep the pump at operating temperature. For this reason, we install a set of heat transfer coils that utilize the tank’s thermal energy to heat the pump, eliminating the need for additional heating circuits.",
  },
];
---

<div class="w-full flex flex-col gap-10">
  <ASGallerySlider client:load images={images} />
  <div class="max-w-7xl px-8 mx-auto">
    <Image src={tanque360} alt="Render of an 30,000 gallon Asphalt Storage Tank" />
  </div>

  <div class="w-full px-8 md:px-52">
    <h1 class="text-redBg text-2xl md:text-3xl font-bold text-center">
      Set the Standard in Asphalt Heating and Storage
    </h1>
  </div>
  <div
    class="max-w-7xl px-4 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-start"
  >
    <div class="w-full">
      <Image src={img2} alt="Vertical Asphalt Storage Tank" />
    </div>
    <AcordeonItemCol
      title="Triaso® Vertical Asphalt Storage Tanks"
      bg-Color="bg-bgMain"
      subText=" Their upright configuration minimizes the asphalt surface exposed to air, significantly reducing oxidation — a key factor when storing polymer-modified asphalts at high temperatures for extended periods."
      client:only
    >
      <div class="w-full py-6 font-bold text-grisT text-sm md:text-base">
        <p>
          Equipped with high-efficiency internal coils and industrial-grade
          insulation, these tanks retain heat effectively, reduce energy
          consumption, and maintain stable asphalt temperatures — even in
          extreme climates.
        </p><br />
        <p>
          Each tank includes OSHA-compliant safety features such as a caged
          ladder, top manhole access, anti-slip diamond-plate decking,
          full-perimeter handrails, and kickplates to ensure safe operation and
          maintenance access.
        </p><br />
        <p>
          At ground level, all valves, gauges, and connections are easily
          accessible, allowing fast, safe loading and unloading, as well as
          convenient temperature monitoring.
        </p><br />
        <p>
          Standard models include a digital temperature controller, and
          configurations can be customized with mixers, level indicators, vapor
          condensers, and other accessories to meet the requirements of each
          application.
        </p>
      </div>
    </AcordeonItemCol>
  </div>
  <!-- <OSection /> -->
  <TwoColumnSection
    leftBg="bg-redBg"
    rightBg="bg-blueMain"
    imageSrc={Tred.src}
    imageAlt="Red T icon"
    imageWidth="150px"
  >
    <div slot="left" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">
        Portable and Relocatable <br /> Systems
      </h1>
      <p class="text-sm md:text-base lg:text-lg">
        Engineered for easy transport and quick setup, our systems deliver
        reliable performance at any site—ideal for temporary or changing project
        locations.
      </p>
    </div>
    <div slot="right" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">Durable Fabrication</h1>
      <p class="text-sm md:text-base lg:text-lg">
        Our asphalt storage tanks are engineered using wear-resistant materials
        designed to withstand abrasive and heavy-duty conditions. This robust
        construction ensures reliable performance, even in the harshest
        environments. By minimizing wear and tear, the design significantly
        reduces maintenance needs and extends the system’s lifespan—delivering a
        dependable, long-term solution.
      </p>
    </div>
  </TwoColumnSection>
</div>
