---
import img1 from "../../assets/images/Burners/8.webp"
import BTabs from "./BTabs.astro";
import img1Low from "../../assets/images/Burners/Low/8Low.webp"
import img2 from "../../assets/images/Burners/7.webp";
import img4 from "../../assets/images/Burners/9.webp";
import img5 from "../../assets/images/Burners/11.webp";
import img6 from '../../assets/images/Burners/12.webp'
import { Image } from "astro:assets";
---

<section>
    <BTabs/>
</section>



