---
import SmartVideo from "../unitComponents/SmartVideo";
import poster1 from "../../assets/images/Burners/Gallery/B1.webp";
import HeroComponent from "../unitComponents/HeroComponent.astro";
import img1 from "../../assets/images/Burners/251022-Escudo.webp";
import img2 from "../../assets/images/Burners/Gallery/B2.webp";
import BurnerOdometer from "../../components/Burners/BurnerOdometer";
---

<section>
  <div>
    <HeroComponent
      title="QUEMADORES"
      image={img1.src}
      imageAlt="QUEMADORES"
      altImage={img2.src}
      descAltImage="QUEMADORES"
    />
  </div>
  <div class="bg-[#1e1e1e]">
    <div class="max-w-7xl mx-auto px-8 space-y-10 py-10">
      <div
        class="flex flex-col space-y-5 justify-center items-center text-center"
      >
        <h1 class="font-semibold text-white text-lg lg:text-xl">
          Nuestros quemadores Triaso® de ‘aire total’ están diseñados para una
          combustión completa y eficiente, utilizando un sistema totalmente
          sellado que no depende de los gases de escape del tambor.
        </h1>
        <h1 class="font-semibold text-white text-lg lg:text-xl">
          Con estos quemadores evitamos la contaminación, atmosférica y de la
          mezcla y la obstrucción del filtro, mientras ahorra combustible y
          mantiene un desempeño constante durante toda la jornada. Su sistema de
          control preciso de aire garantiza una operación limpia, bajas
          emisiones y resultados confiables en cualquier clima y altitud.
        </h1>
      </div>
    </div>
  </div>
</section>

<section>
  <BurnerOdometer client:only />
</section>

<section
  class="w-full mt-20 md:mt-32 font-bold text-grisT flex flex-col gap-6 max-w-7xl px-8 mx-auto"
>
  <div class="text-center">
    <h2 class="text-black text-xl md:text-2xl">
      Equipado con precalentador y filtro
    </h2>
  </div>

  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 pt-5">
    <div class="w-full text-blueMain flex flex-col gap-3">
      <h2 class="text-lg md:text-xl text-center">Bajas emisiones de NOx</h2>
      <div class="w-full h-[2px] bg-blueMain"></div>
      <p class="text-sm md:text-lg text-justify">
        Bajas emisiones de NOx (óxidos de nitrógeno) <span class="text-grisPPP">
          un gas de efecto invernadero altamente regulado en algunas regiones.
          Puede equiparse con un sistema de protección de llama para reducir los
          NOx a cero. <br />
          Al lograr una combustión completa, se evitan varios problemas:</span
        >
      </p>
      <ul class="text-sm md:text-lg list-disc ml-6">
        <li>Contaminación atmosférica.</li>
        <li>
          Contaminación de la mezcla asfáltica con combustible no quemado.
        </li>
        <li>Obstrucción en la casa de bolsas y alto riesgo de incendio.</li>
      </ul>
    </div>
    <div class="w-full text-redBg flex flex-col gap-3">
      <h2 class="text-lg md:text-xl text-center">Aire 100% regulado</h2>
      <div class="w-full h-[2px] bg-redBg"></div>
      <p class="text-sm md:text-lg text-justify text-grisPPP">
        El quemador regula el <span class="text-redBg">
          100% del aire para la combustión
        </span>sin depender del sistema de extracción del tambor. Esto asegura
        una combustión completa y el<span class="text-redBg">
          aprovechamiento total del combustible.</span
        >.
      </p>
      <ul class="text-sm md:text-lg list-disc ml-6 text-grisPPP">
        <li>
          Instalación sellada, sin entradas de aire frío, lo que ahorra el
          combustible necesario para calentarlo y permite una carburación
          precisa y eficiente.
        </li>
        <li>
          La eficiencia no se ve afectada por cambios de temperatura ambiental durante el día.
        </li>
      </ul>
    </div>
  </div>
</section>
