---
import SmartVideo from "../unitComponents/SmartVideo";
import poster1 from "../../assets/images/Burners/preHeat.webp"

---

<section class="w-full font-bold text-grisT">
  <div class="w-full max-w-7xl mx-auto px-8 mt-20 md:mt-32">
    <h1 class="text-3xl md:text-4xl">FUEL PREHEATERS</h1><br />
    <p class="text-sm lg:text-lg md:text-lg">
      Triaso® Fuel Preheaters are engineered to improve combustion efficiency by
      reducing the viscosity of any kind of fuels before ignition. By preheating
      the fuel, proper atomization is achieved, eliminating unburned droplets
      that could contaminate the mix, clog filters, or cause excess smoke. This
      system ensures cleaner combustion, lower emissions, and consistent
      performance—while protecting your asphalt quality and reducing fuel
      consumption under any working condition.
    </p>
    <div class="w-full flex justify-center">
      <SmartVideo
      client:visible
      classVideo="rounded-lg"
      src="/Videos/Webm/preHeatVideo.webm"
      poster="/Gallery/customdes.webp"
      isLoop={false}
      autoplayOnMobile={false}
      />
    </div>
  </div>
</section>
