---
import { Image } from "astro:assets";
import ASOdom from "../../assets/images/AsphaltStorage/ASOdo.webp";
import LearnBtn from "../unitComponents/LearnBtn.astro";
import SmartVideo from "../unitComponents/SmartVideo";
---

<div class="w-full flex flex-col font-bold px-4 mt-5">
  <div id="AsphaltTanks" class="scroll-mt-20 flex justify-center items-center">
    <h1 class="text-2xl md:text-4xl py-10">Asphalt Storage Tanks</h1>
  </div>

  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center">
      <div
        class="flex flex-col items-center lg:items-start justify-center gap-10 md:gap-20 pb-5"
      >
        <div class="flex flex-col items-center justify-center">
          <div
            class="flex text-5xl font-normal justify-center lg:justify-start items-baseline w-full"
          >
            12
            <h1>-</h1>
            3
            <p class="text-sm font-normal ml-3">thousand gallons</p>
          </div>
          <p
            class="text-black font-thin text-center md:text-start lg:text-start w-full"
          >
            Asphalt storage capacity
          </p>
        </div>

        <div class="flex flex-col items-center justify-center">
          <div
            class="flex text-5xl font-normal justify-center lg:justify-start items-baseline w-full"
          >
            220
            <p class="text-sm font-normal ml-3">°C</p>
          </div>
          <p class="text-black font-thin text-center lg:text-start w-full">
            Maximum achievable temperature
          </p>
        </div>

        <div class="flex flex-col items-center justify-center">
          <div
            class="flex text-5xl font-normal justify-center lg:justify-start items-baseline w-full gap-2"
          >
            1
            <p>&</p>
            2.4
            <p class="text-sm font-normal">million</p>
          </div>
          <p class="text-black font-thin text-center lg:text-start w-full">
            Btu/hr capacity
          </p>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center">
        <div>
          <Image src={ASOdom} alt="Asphalt Storage Tank" />
        </div>
      </div>
    </div>
    <div
      class="relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-screen md:static md:w-full md:ml-0 md:mr-0 bg-[url(/BgAST.webp)] bg-cover bg-no-repeat bg-center p-10"
    >
      <h2 class="font-bold text-white text-xl md:text-2xl">
        Fully Customizable Asphalt Storage Tanks
      </h2><br />
      <div class="w-full grid grid-cols-2 gap-6">
        <div class="w-full text-sm md:text-base">
          <h3 class="font-bold text-white">Heating System</h3>
          <ul class="list-disc ml-6 font-thin text-white">
            <li>Direct fire</li>
            <li class="list-none">
              <ul class="list-disc ml-10">
                <li>Heating with LP gas (propane)</li>
                <li>Heating with diesel</li>
              </ul>
            </li>
            <li>Oil heater</li>
          </ul>
        </div>
        <div class="w-full text-sm md:text-base">
          <h3 class="font-bold text-white">Exterior</h3>
          <ul class="list-disc ml-6 font-thin text-white">
            <li>OSHA-compliant railings</li>
            <li>Aesthetic side panels</li>
            <li>On legs or on wheels</li>
          </ul>
        </div>
        <div class="w-full text-sm md:text-base">
          <h3 class="font-bold text-white">Incorporators and agitators</h3>
          <ul class="list-disc ml-6 font-thin text-white">
            <li>Rubber incorporators</li>
            <li>Incorporators for all types of polymers</li>
            <li>Agitators for any application</li>
          </ul>
        </div>
        <div class="w-full text-sm md:text-base">
          <h3 class="font-bold text-white">General System</h3>
          <ul class="list-disc ml-6 font-thin text-white">
            <li>Vapor condensers</li>
            <li>Manual valves</li>
            <li>With submersible pump</li>
            <li>Computerized control system</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col justify-center items-center mb-5">
    <div class="max-w-7xl flex flex-col items-center">
      <SmartVideo
        client:visible
        src="/Videos/Webm/ASMainVideo.webm"
        poster="/Gallery/AsphaltPlantPoster/8.webp"
        isLoop={false}
      />
      <br />
      <LearnBtn href="/AsphaltStorage" label="Go to page Asphalt storage" />
    </div>
  </div>
</div>

<script is:inline>
  const isDesktop = window.matchMedia("(min-width: 1024px)").matches;
  const video = document.querySelectorAll(".responsive-video");
  if (video && isDesktop) {
    video.setAttribute("autoplay", "");
    video.play().catch(() => {});
  }
</script>
