---
// Componente HeroSection (src/components/HeroSection.astro)
import { Image } from "astro:assets";

export interface Props {
  heroImage: ImageMetadata;
  title: string;
  altText: string;
}

const { heroImage, title, altText } = Astro.props;
---

<div class="w-full relative mt-16 overflow-hidden">
  <Image
    src={heroImage}
    widths={[400, 600, 800, 1000, 1200, 1400, 1600, 1920]}
    sizes="100vw"
    format="webp"
    quality={80}
    alt={altText}
    class="w-full h-auto object-cover min-h-[18vh]"
    loading="eager"
    fetchpriority="high"
    decoding="async"
  />

  <div
    class="absolute bottom-[-15px] lg:bottom-5 md:bottom-5 right-0 z-40 p-4 lg:pr-56 overflow-hidden"
  >
    <h1 class="text-grisT text-lg lg:text-5xl md:text-3xl font-bold ">{title}</h1>
  </div>
</div>
