---
import icon1 from "../../assets/images/AsphaltPlant/lowM.svg";
import icon2 from "../../assets/images/AsphaltPlant/highP.svg";
import icon3 from "../../assets/images/AsphaltPlant/highQ.svg";
import icon4 from "../../assets/images/AsphaltPlant/ecoS.svg";
import icon5 from "../../assets/images/AsphaltPlant/highPorta.svg";
import icon6 from "../../assets/images/AsphaltPlant/ecoL.svg";
import icon7 from "../../assets/images/AsphaltPlant/upT.svg";
import icon8 from "../../assets/images/AsphaltPlant/cont.svg";
import icon9 from "../../assets/images/AsphaltPlant/lowF.svg";
import img1 from "../../assets/images/AsphaltPlant/render.webp";
import { Image } from "astro:assets";
const items = [
    { text: "LOW MAINTENANCE", img: icon1 },
    {
        text: "HIGH PRODUCTIVITY",
        img: icon2,
    },
    {
        text: "HIGH QUALITY HOT-MIX",
        img: icon3,
    },
    {
        text: "ECOLOGICAL STANDARS",
        img: icon4,
    },
    {
        text: "HIGHLY PORTABLE",
        img: icon5,
    },
    {
        text: "ECONOMIC LONG-LASTING LIFE",
        img: icon6,
    },
    {
        text: "UP TO 50% RAP",
        img: icon7,
    },
    {
        text: "CONTINUOUS",
        img: icon8,
    },
    {
        text: "LOW FUEL CONSUMPTION",
        img: icon9,
    },
];
---

<div
    class="w-full max-w-7xl px-4 mx-auto flex flex-col items-center justify-around font-bold"
>
    <!-- Opciones -->
    <div
        class="grid grid-cols-3 justify-center items-end lg:grid-cols-7 md:grid-cols-7 gap-5 md:gap-4 mt-8 text-gray-700"
    >
        <!-- Primera fila (siempre visible) -->
        <a
            href="#DrumMixer"
            aria-label="Drum Mixers link"
            class="hover:text-blueMain hover:border-b-blueMain text-center text-md py-2 lg:py-[14px] md:py-[14px] md:text-lg md:px-4 font-bold border-b-2 border-b-grisP focus:outline-none"
        >
            Drum Mixers
        </a>

        <a
            href="#Baghouses"
            aria-label="Baghouses link"
            class="hover:text-blueMain hover:border-b-blueMain text-center text-md py-2 lg:py-[14px] md:py-[14px] md:text-lg md:px-4 font-bold border-b-2 border-b-grisP focus:outline-none"
            data-tab="tab2"
        >
            Baghouses
        </a>

        <a
            href="#AsphaltTanks"
            aria-label="Asphalt tanks link"
            class="hover:text-blueMain hover:border-b-blueMain text-center text-md py-2 lg:py-[14px] md:py-[14px] md:text-lg md:px-4 font-bold border-b-2 border-b-grisP focus:outline-none"
            data-tab="tab3"
        >
            Asphalt tanks
        </a>

        <a
            href="#BinUnits"
            aria-label="Bins link"
            class="text-center hover:text-blueMain hover:border-b-blueMain text-md py-2 lg:py-[14px] md:py-[14px] md:text-lg md:px-4 font-bold border-b-2 border-b-grisP focus:outline-none"
            data-tab="tab4"
        >
            Bins
        </a>

        <a
            href="#HeatingSystem"
            class="text-center hover:text-blueMain hover:border-b-blueMain text-md py-2 md:py-0 lg:py-0 md:text-lg md:px-4 font-bold border-b-2 border-b-grisP focus:outline-none"
            data-tab="tab5"
        >
            Heating <br /> Systems
        </a>

        <a
            href="#HotMix"
            class="text-center hover:text-blueMain hover:border-b-blueMain text-md py-2 md:text-lg md:px-4 font-bold border-b-2 border-b-grisP focus:outline-none"
            data-tab="tab6"
        >
            Hot-Mix <br /> Storage Silos
        </a>

        <a
            href="#ColdMix"
            class="hover:text-blueMain hover:border-b-blueMain text-md md:text-lg md:px-4 font-bold focus:outline-none
           col-span-3 md:col-span-1 flex justify-center"
            data-tab="tab7"
        >
            <span
                class="text-center inline-flex flex-col items-center border-b-2 border-b-grisP hover:text-blueMain hover:border-b-blueMain md:w-full lg:w-full"
            >
                Cold Mix <br /> Plants
            </span>
        </a>
    </div>

    <!-- Info -->
    <div
        class="w-full text-justify font-bold text-sm md:text-lg lg:text-lg text-grisT mt-10"
    >
        <p>
            With models ranging from 10 to 500 tons per hour, Triaso asphalt
            plants combine quality, high-quality materials, and a sophisticated
            design to enhance our clients' corporate image. They deliver
            superior performance, high-quality hot mix asphalt, long-term cost
            efficiency, and compliance with the highest industry standards.
        </p>
        <br />
        <p>
            We understand the importance of keeping your equipment running
            non-stop. The operation of many other machines depends on the
            reliability of your asphalt plant.
        </p>
        <br />
        <p>
            Strict quality control ensures the operation of your asphalt plant
            with low maintenance for many years.
        </p>
    </div>
    <!-- Ventajas -->
    <div
        class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-8 mt-10 lg:mt-20 w-full"
    >
        {
            items.map((item, index) => (
                <div
                    class={`
                flex flex-col items-center justify-center text-center
                w-full
                ${
                    items.length % 2 !== 0 && index === items.length - 1
                        ? "md:col-span-2 lg:col-span-1 col-span-2"
                        : ""
                }
            `}
                >
                    <Image src={item.img} alt="" class="lg:w-28 w-20" />
                    <p class="text-black text-base md:text-xl">{item.text}</p>
                </div>
            ))
        }
    </div>

    <div
        class="w-full flex flex-col items-center justify-center mt-20 text-black text-base text-center md:text-xl"
    >
        <h1>
            With Triaso, Become the Exclusive Provider of Hot Mix for All Paving
            Projects in Your Region
        </h1>
        <Image src={img1} alt="Drum Mixer machine with vibrating mixers" />
        <h1 class="text-center">
            Our customers choose Triaso asphalt plants over other brands for
            their high quality, reliability, and competitive pricing.
        </h1>
    </div>
</div>
