---
import LastSectionAS from "../../components/AsphaltPlants/LastSectionAS";
---

<div
  class="w-full max-w-7xl mx-auto px-4 mt-10 md:mt-20 flex flex-col min-h-10/12 mb-1"
>
  <h1 class="text-3xl lg:text-4xl md:text-4xl font-bold mb-5">
    100% Manufactura <br />
    <span class="text-[#00840d]">Mexicana</span>
  </h1>
  <h2 class="text-base md:text-xl font-bold mb-5 text-grisT">
    Triaso fabrica directamente; no utilizamos subcontratistas.
  </h2>
  <p class="font-bold text-gris5 text-sm md:text-lg mb-5 text-justify">
    Como Triaso, ningún otro fabricante de plantas de asfalto en el mundo
    produce tantos componentes de su propio equipo como nosotros. A diferencia
    de otros, nosotros fabricamos directamente sin subcontratistas, asegurando
    que cada pieza cumpla con nuestros estrictos estándares de calidad.
    <br />
    <br /> Este enfoque nos permite ofrecer el mejor servicio, garantía y soporte
    directo, tanto desde nuestro equipo en México como a través de nuestro distribuidor
    en Estados Unidos.
  </p>
  <br />
</div>

<div class="py-5">
  <LastSectionAS client:only />
</div>
