---
import Layout from "../../layouts/Layout.astro";
import SeccionIntro from "../../components/Casetas/Remolcable/SeccionIntro.astro"
import SeccionInfo from "../../components/Casetas/Remolcable/SeccionInfo.astro";
import SeccionFinal from "../../components/Casetas/Remolcable/SeccionFinal.astro";
---

<Layout title="Casetas Remolcables">
    <SeccionIntro/>
    <SeccionInfo/>
    <div class="pt-10">
        <SeccionFinal/>
    </div>
    
</Layout>