---
import Layout from "../../layouts/Layout.astro";
import SeccionIntro from "../../components/Casetas/Montable/SeccionIntro.astro"
import SeccionInfo from "../../components/Casetas/Montable/SeccionInfo.astro";
import SeccionFinal from "../../components/Casetas/Montable/SeccionFinal.astro";
---

<Layout title="Casetas Montables">
    <SeccionIntro/>
    <SeccionInfo/>
    <div class="pt-10">
        <SeccionFinal/>
    </div>
    
</Layout>