---
import LearnBtn from "../../unitComponents/LearnBtn.astro";
---

<section class="w-full flex flex-col justify-center items-center mt-20">
  <div class="w-full px-8 font-bold text-grisT max-w-7xl">
    <h1 class="text-3xl md:text-4xl">
      DESIGN AND MANUFACTURE OF EQUIPMENT <br />TAILORED TO YOUR NEEDS OR IDEAS
    </h1><br />
    <p class="text-base md:text-lg">
      We have the availability, experience, and agility to design and
      manufacture custom equipment tailored to your needs or ideas, utilizing
      our extensive design library or creating entirely original solutions
    </p>
  </div><br />
  <div class="w-full bg-grisT text-white font-bold py-6 md:py-16 px-4">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-center text-xl md:text-2xl py-4 md:py-10">
        With this, we can meet highly specialized needs for
      </h2>
      <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-10">
        <div class="border-b-2 border-b-redBg p-3">
          <p class="text-base md:text-xl text-center">
            Projects with special requirements
          </p>
        </div>
        <div class="border-b-2 border-b-redBg p-3">
          <p class="text-base md:text-xl text-center">
            Cost-effective replacement of <br /> expensive specialized equipment.
          </p>
        </div>
        <div class="border-b-2 border-b-redBg p-3">
          <p class="text-base md:text-xl text-center">
            Experienced clients with innovative ideas to <br /> increase productivity
            and/or reduce costs.
          </p>
        </div>
        <div class="border-b-2 border-b-redBg p-3">
          <p class="text-base md:text-xl text-center">
            Equipment not practically available on the market, or <br /> with significantly
            different production rates <br />than existing options.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full text-grisT font-bold py-6 md:py-16 px-4">
    <div class="max-w-7xl mx-auto flex flex-col justify-center">
      <h2 class="text-center text-xl md:text-2xl py-4 md:py-10">
        With this, we can meet highly specialized needs for
      </h2>
      <div
        class="w-full px-8 grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-4 md:gap-10"
      >
        <div class="border-b-2 border-b-blueMain p-3">
          <p class="text-base md:text-xl text-center">
            Experienced professionals in design.
          </p>
        </div>
        <div class="border-b-2 border-b-blueMain p-3">
          <p class="text-base md:text-xl text-center">
            Experienced professionals on-site.
          </p>
        </div>
        <div class="border-b-2 border-b-blueMain p-6">
          <p class="text-base md:text-xl text-center">
            Equipment development following relevant <br /> international standards.
          </p>
        </div>
        <div class="border-b-2 border-b-blueMain p-3">
          <p class="text-base md:text-xl text-center">
            Simulation using Finite Element software (Ansys®) <br />
            to accurately test the real-world behavior of designs <br />
            within a computer environment.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center pb-10">
    <LearnBtn href="/Improvement" />
  </div>
  <div class="w-full flex justify-center md:px-52 bg-bgBeige py-16 h-full px-4">
    <div class="w-full max-w-7xl">
      <h1 class="text-2xl md:text-3xl text-center font-bold text-grisT pb-10">
        WE HAVE SPECIALIZED DEPARTMENTS IN EACH OF THE NECESSARY AREAS.
      </h1>
      <div
        class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 justify-center items-start"
      >
        <div class="w-full">
          <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
            Design department
          </h2>
          <div class="w-full bg-grisT h-[1px] my-3"></div>
          <p class="text-base md:text-lg font-thin text-grisT">
            With 12 professionals constantly working on special orders, new
            series designs, improvements to current designs, new products, and
            technologies, who continuously receive field feedback on the
            performance of the equipment with their designs for continuous
            improvement.
          </p>
        </div>
        <div class="w-full">
          <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
            Engineering department
          </h2>
          <div class="w-full bg-grisT h-[1px] my-3"></div>
          <p class="text-base md:text-lg font-thin text-grisT">
            With 6 professionals dedicated to simulating the design department’s
            proposals and providing feedback to improve efficiency and avoid
            equipment failures in the field.
          </p>
        </div>
        <div class="w-full">
          <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
            Automation and control department
          </h2>
          <div class="w-full bg-grisT h-[1px] my-3"></div>
          <p class="text-base md:text-lg font-thin text-grisT">
            with 12 professionals focused on installing standard control systems
            and designing and implementing special systems as requested.
          </p>
        </div>
        <div class="w-full">
          <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
            Quality control department
          </h2>
          <div class="w-full bg-grisT h-[1px] my-3"></div>
          <p class="text-base md:text-lg font-thin text-grisT">
            with 6 professionals who inspect the equipment being manufactured
            daily, from start to finish.
          </p>
        </div>
        <div class="w-full">
          <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
            Machining department
          </h2>
          <div class="w-full bg-grisT h-[1px] my-3"></div>
          <p class="text-base md:text-lg font-thin text-grisT">
            With 20 technicians working with CNC machines, special applications,
            manual tools, and heat treatment units.
          </p>
        </div>
        <div class="w-full">
          <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
            Production area
          </h2>
          <div class="w-full bg-grisT h-[1px] my-3"></div>
          <p class="text-base md:text-lg font-thin text-grisT">
            With 200 experienced welders, technicians, and general workers in
            equipment manufacturing.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center bg-bgBeige pb-6 px-4">
    <div class="w-full md:w-1/3">
      <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
        Installation, maintenance, and spare parts <br /> department
      </h2>
      <div class="w-full bg-grisT h-[1px] my-3"></div>
      <p class="text-base md:text-lg font-thin text-grisT text-center">
        With 14 specialists in the installation and maintenance of sold
        equipment.
      </p>
    </div>
  </div>
</section>
