---
import SmartVideo from "../../../unitComponents/SmartVideo";
import poster1 from "../../../../assets/images/Burners/Gallery/B1.webp";
import QuemadorSlider from "../../QuemadorSlider";
import slide2 from "../../../../assets/images/Burners/preHeat.webp";
import slide3 from "../../../../assets/images/DrumMixers/Contraflujo/Pro+/Plasma.webp";

const slides = [
    {
        title: "Precalentador de combustible",
        description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget neque hendrerit, volutpat nulla sed, pulvinar ligula. Quisque eleifend blandit nisl vitae vestibulum.",
        image: slide2.src,
        bgColor: "#fffaea",
    },
    {
        title: "Sistema ionizador de plasma para optimizar la combustión",
        description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget neque hendrerit, volutpat nulla sed, pulvinar ligula. Quisque eleifend blandit nisl vitae vestibulum.",
        image: slide3.src,
        bgColor: "#1B4475",
    },
];
---

<section>
    <!-- Sección arriba -->
    <div
        class="max-w-7xl mx-auto px-8 flex flex-col lg:flex-row justify-center lg:justify-between"
    >
        <div class="">
            <div>
                <h1 class="uppercase text-4xl font-bold text-[#393939]">
                    Quemadores de
                </h1>
                <h1 class="uppercase text-4xl font-bold text-[#393939]">
                    aire total
                </h1>
                <div class="border-b-2 border-[#ca1c1c] h-0.5 w-full my-5">
                </div>
            </div>
            <div class="flex flex-col">
                <p>Desde 6 a 125 millones de Btu/Hr,</p>
                <p>con precalentador, filtro y más</p>
            </div>
        </div>
        <div class="flex items-center justify-center lg:justify-end">
            <SmartVideo
                client:visible
                src="/Videos/Webm/burnerVideo.webm"
                width="50%"
                poster={poster1.src}
                isLoop={true}
                autoplayOnMobile={false}
            />
        </div>
    </div>
    <!-- Sección 2 -->
    <div class="flex flex-col max-w-7xl mx-auto px-8">
        <div
            class="bg-white lg:w-[600px] rounded-tr-2xl flex justify-center items-center"
        >
            <div class="mx-auto py-10">
                <p class="font-bold">Aire 100% regulado</p>
            </div>
        </div>
        <div
            class="bg-[#393939] rounded-br-2xl lg:w-[600px] flex justify-center items-center"
        >
            <div class="mx-auto py-10">
                <p class="font-bold text-white">Bajas emisiones de NOx</p>
            </div>
        </div>
    </div>
</section>

<!-- Sección sliders -->

<section class="pt-10 space-y-5">
    <div class="max-w-7xl mx-auto px-8 flex items-center justify-center">
        <h1 class="font-bold text-4xl text-center">Desde 6 a 125 millones de Btu/Hr, con precalentador y filtro</h1>
    </div>

    <div
        class="max-w-7xl mx-auto px-8 gap-5 flex flex-col lg:flex-row md:flex-row justify-evenly items-center"
    >
        <div class="flex flex-col justify-center items-center">
            <p>Consistente</p>
            <h1 class="text-[#ca1c1c] font-bold text-3xl">Flama</h1>
        </div>
        <div class="flex flex-col justify-center items-center">
            <p>Consistente</p>
            <h1 class="text-[#14427c] font-bold text-3xl">Mezcla</h1>
        </div>
        <div class="flex flex-col justify-center items-center">
            <p>Consistente</p>
            <h1 class="text-[#393939] font-bold text-3xl">Calidad</h1>
        </div>
    </div>

    <div class="max-w-7xl mx-auto px-8 py-5">
        <QuemadorSlider slides={slides} client:visible />
    </div>
</section>

<!-- Sección 3 -->
<section>
    <div
        class="max-w-7xl mx-auto px-8 flex flex-col items-center justify-center py-10"
    >
        <h1 class="text-black font-bold text-4xl text-center lg:text-left">
            Sólo el dueño de otra planta de asfalto Triaso,
        </h1>
        <h1 class="text-black font-bold text-4xl text-center lg:text-left">
            igual de moderna, le puede hacer competencia.
        </h1>
    </div>
</section>
