---
import rap from "../../assets/images/DrumMixers/rap.webp";
import img1 from "../../assets/images/RapBins/RAProv5.webp";
import RBDropdowns from "./RBDropdowns.astro";
import img5 from "../../assets/images/BinUnits/TolvaConfCompl.webp";
import rapFlight from "../../assets/images/DrumMixers/a21.webp";
import RBDropdown2 from "./RBDropdown2.astro";
import AnalisisInversion from "../Calculadora/AnalisisInversion";
import { Image } from "astro:assets";
---

<section class="w-full mt-28">
    <div class="max-w-7xl mx-auto px-8 mb-10">
        <h1
            class="text-xl lg:text-4xl md:text-4xl font-bold text-grisT text-start lg:text-end"
        >
            Pavimento Asfáltico Recuperado (RAP)
        </h1>
    </div>
    <div class="max-w-7xl mx-auto px-8 space-y-10">
        <p class="text-sm lg:text-base md:text-base font-medium">
            El RAP (Reclaimed Asphalt Pavement o pavimento asfáltico recuperado)
            es el pavimento asfáltico obtenido mediante procesos de fresado. Es
            totalmente apto para su reciclaje al incorporarse en nuevas mezclas
            asfálticas, aprovechando tanto los agregados como el ligante
            asfáltico que contiene. El reciclaje de este material, que de otro
            modo sería desaprovechado, reduce de forma significativa los costos
            de producción al disminuir el consumo de materiales y ligante
            virgen, minimizar los costos de transporte, ahorrar energía y
            reducir las emisiones de gases contaminantes.
        </p>
        <p class="text-sm lg:text-base md:text-base font-medium">
            El RAP se ha utilizado en mezclas asfálticas desde 1915, permitiendo
            importantes ahorros en el costo de la mezcla donde se incorpora. Una
            mezcla asfáltica con RAP tiene un costo de producción mucho menor en
            comparación con una mezcla sin RAP, principalmente por la
            reutilización del ligante asfáltico ya presente en el material
            reciclado. Por esta razón, el uso de RAP ha crecido rápidamente en
            los últimos años a nivel global.
        </p>
        <p class="text-sm lg:text-base md:text-base font-medium">
            Ofrecemos todo lo necesario para trabajar con RAP, desde
            modificaciones a su planta de asfalto existente hasta una nueva
            planta especializada en la producción de RAP de bajo costo.
        </p>
    </div>
    <div class="max-w-7xl mx-auto px-8 py-10">
        <Image src={img1} alt="RAP (RECYCLED ASPHALT PAVEMENT) System" />
    </div>
    <RBDropdowns />
    <section
        class="w-full bg-gradient-to-b from-[#14427c] via-blueMain to-blueMain to-50% font-bold"
    >
        <div
            class="bg-[#393939] w-full flex flex-col justify-center items-center p-12 text-white space-y-10"
        >
            <h1 class="font-bold text-2xl lg:text-4xl md:text-4xl">
                Incorporación al tambor para la calefacción interna
            </h1>
            <p class="text-sm lg:text-base md:text-base">
                Nuestro sistema de incorporación puede reciclar <span
                    class="font-bold text-lg lg:text-2xl md:text-2xl"
                    >hasta el 50 %
                </span>del pavimento asfáltico recuperado
            </p>
            <p class="text-sm lg:text-base md:text-base">
                El RAP debe introducirse en un punto del tambor en el que no
                entre en contacto directo con la llama del quemador, para que el
                asfalto que contiene no se queme y quede inservible.
            </p>
        </div>
        <div class="w-full">
            <div
                class="w-full grid grid-cols-1 md:grid-cols-2 max-w-7xl px-8 mx-auto"
            >
                <div class="w-full text-white flex flex-col justify-center">
                    <h1 class="text-xl md:text-2xl font-bold pt-5">
                        TOLVAS DE RAP
                    </h1><br />
                    <p class="text-sm lg:text-lg md:text-lg font-thin">
                        En TRIASO, introducimos el RAP a través de un collar
                        situado en un punto intermedio del tambor. A partir de
                        ese momento, el RAP nunca entra en contacto con la llama
                        del quemador y se calienta mediante tres mecanismos
                        simultáneos:
                    </p>
                    <ul class="list-disc pl-5 pt-5">
                        <li>
                            en contacto directo con el agregado virgen
                            precalentado que se encuentra en la parte anterior
                            del tambor,
                        </li>
                        <li>
                            la exposición a los gases calientes que circulan por
                            el tambor, y
                        </li>
                        <li>
                            contacto directo con placas internas calentadas,
                            conocidas como comales, que absorben el calor
                            radiante de la llama del quemador.
                        </li>
                    </ul>
                </div>
                <div class="w-full flex justify-center py-5">
                    <Image
                        src={img5}
                        alt="RAP Bin"
                        class="w-1/2 lg:w-3/4 md:w-3/4"
                    />
                </div>

                <div class="w-full flex justify-center py-5">
                    <Image
                        src={rap}
                        alt="RAP Collar"
                        class="w-1/2 lg:w-1/2 md:w-3/4"
                    />
                </div>
                <div class="w-full text-white flex flex-col justify-center">
                    <h1 class="text-xl md:text-2xl font-bold">
                        COLLAR DE RAP
                    </h1><br />
                    <p class="text-sm lg:text-lg md:text-lg font-thin">
                        El collarín del tambor está diseñado para garantizar una
                        entrada controlada y eficiente del asfalto reciclado
                        (RAP) en la zona de mezcla. El material, que se alimenta
                        directamente desde el depósito de RAP a través de una
                        cinta transportadora específica, entra en el tambor de
                        forma suave y uniforme.
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full pt-5">
            <div class="w-full max-w-7xl px-8 mx-auto text-white">
                <h1
                    class="lg:text-end md:text-end text-xl md:text-2xl font-bold"
                >
                    RAP ENTRY FLIGHTS
                </h1>
            </div>
            <div
                class="w-full grid grid-cols-1 md:grid-cols-2 max-w-7xl px-8 mx-auto justify-center pt-6 pb-6"
            >
                <div class="w-full flex flex-col space-y-5">
                    <h2 class="font-bold text-[#fffaea]">
                        MODIFICACIÓN DE LA MEZCLA DE TAMBORES PARA EL RAP
                    </h2>
                    <p
                        class="text-sm lg:text-lg md:text-lg font-thin text-white"
                    >
                        El RAP se introduce a través de un collar situado en un
                        punto intermedio del tambor, antes de la zona de mezcla.
                        A partir de este punto, el material nunca entra en
                        contacto directo con la llama del quemador. A diferencia
                        de otras zonas del mezclador de tambor, esta sección no
                        cuenta con paletas de velado.
                    </p>
                    <p
                        class="text-sm lg:text-lg md:text-lg font-thin text-white"
                    >
                        Los conductos de entrada específicos se utilizan para
                        introducir suavemente el RAP en el flujo de áridos
                        calientes. Su diseño permite un secado uniforme,
                        optimiza la transferencia de calor y controla el
                        ablandamiento del ligante para lograr una incorporación
                        de alta calidad con los áridos vírgenes, al tiempo que
                        minimiza el humo azul y evita la acumulación de
                        material.
                    </p>
                    <div
                        class="text-sm lg:text-lg md:text-lg font-thin text-white"
                    >
                        <p>
                            A medida que el RAP avanza por el tambor, se
                            calienta mediante tres mecanismos simultáneos:
                        </p>
                        <ul class="list-disc pl-5">
                            <li>
                                El contacto directo con el agregado virgen
                                precalentado
                            </li>
                            <li>
                                La exposición a los gases calientes del interior
                                del tambor
                            </li>
                            <li>
                                La conducción a partir de las paletas internas
                                calentadas por la energía radiante del quemador.
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class="w-full text-white flex flex-col justify-between py-5"
                >
                    <Image
                        src={rapFlight}
                        alt="RAP ENTRY FLIGHTS"
                        class="w-full rounded-lg"
                    />
                    <p
                        class="font-thin text-sm lg:text-base md:text-base text-white"
                    >
                        Este sistema de triple calentamiento controlado permite
                        procesar de manera constante un mayor porcentaje de RAP,
                        con una incorporación de hasta el 50 %, al tiempo que
                        mantiene una temperatura uniforme, preserva el ligante
                        asfáltico y garantiza un rendimiento constante en la
                        mezcla asfáltica final.
                    </p>
                </div>
            </div>
            <div
                class="bg-gradient-to-b from-[#14427c] via-[#14427c] to-[#f4f5f6]"
            >
                <div class="max-w-7xl mx-auto px-8 space-y-5">
                    <p
                        class="font-bold text-sm lg:text-lg md:text-lg text-white"
                    >
                        Nota: Otras marcas de plantas de asfalto también cuentan
                        con un collar situado en un punto intermedio del tambor,
                        pero ubicado más hacia la salida, es decir, a partir de
                        donde comienza la mezcla interna. Esto impide el uso de
                        hélices de entrada de RAP, por lo que estas no se
                        benefician del calor radiante y solo logran una
                        incorporación de RAP ligeramente superior a la de los
                        métodos de mezclado directo en el pugmill.
                    </p>
                    <p
                        class="font-bold text-sm lg:text-lg md:text-lg text-white"
                    >
                        Se puede utilizar un tambor específico exclusivamente
                        para calentar el RAP, mientras que otro tambor calienta
                        el agregado virgen. A continuación, ambos materiales se
                        mezclan en una mezcladora. <br />
                        <span class="font-thin"
                            >Este método permite alcanzar los porcentajes más
                            altos de RAP, pero requiere dos tambores en lugar de
                            uno, lo que se traduce en unos costos de equipo
                            considerablemente más elevados.
                        </span>
                    </p>
                    <p
                        class="font-bold text-sm lg:text-lg md:text-lg text-black text-center"
                    >
                        Nuestra mezcladora de tambor puede producir de manera
                        eficiente tanto WMA como HMA, al tiempo que ofrece un
                        rendimiento constante y de alta calidad.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <RBDropdown2 />
    <AnalisisInversion client:only />
</section>
