---
import GalleryItem from "./GalleryItem.astro";
import GalleryModal from "./GalleryModal.astro";
---

<div class="mt-20 max-w-7xl mx-auto px-8">
  <div class="flex justify-center items-center py-5 lg:py-14">
    <h1 class="text-2xl lg:text-5xl font-bold">EXPOS</h1>
  </div>

  <div class="grid lg:grid-cols-2 gap-6 pb-5">
    <div class="flex flex-col">
      <p class="font-bold text-lg md:text-2xl lg:text-2xl uppercase">
        At Mexico
      </p>
      <div class="grid grid-cols-2 gap-3">
        <GalleryItem
          cover="/ExpoPage/Nacional/1/01.webp"
          title="Congreso de Amaac, Cancún"
          date="2017"
          images={[
            "/ExpoPage/Nacional/1/01.webp",
            "/ExpoPage/Nacional/1/02.webp",
            "/ExpoPage/Nacional/1/03.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/2/01.webp"
          title="Convención internacional de minería, Acapulco"
          date="2015"
          images={[
            "/ExpoPage/Nacional/2/01.webp",
            "/ExpoPage/Nacional/2/02.webp",
            "/ExpoPage/Nacional/2/03.webp",
            "/ExpoPage/Nacional/2/04.webp",
            "/ExpoPage/Nacional/2/05.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/3/01.webp"
          title="Expo Asfalto, Cancún"
          date="2013"
          images={[
            "/ExpoPage/Nacional/3/01.webp",
            "/ExpoPage/Nacional/3/02.webp",
            "/ExpoPage/Nacional/3/03.webp",
            "/ExpoPage/Nacional/3/04.webp",
            "/ExpoPage/Nacional/3/05.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/4/01.webp"
          title="Congreso mundial carreteras, Cd México"
          date="2011"
          images={[
            "/ExpoPage/Nacional/4/01.webp",
            "/ExpoPage/Nacional/4/02.webp",
            "/ExpoPage/Nacional/4/03.webp",
            "/ExpoPage/Nacional/4/04.webp",
            "/ExpoPage/Nacional/4/05.webp",
            "/ExpoPage/Nacional/4/06.webp",
            "/ExpoPage/Nacional/4/07.webp",
            "/ExpoPage/Nacional/4/08.webp",
            "/ExpoPage/Nacional/4/09.webp",
            "/ExpoPage/Nacional/4/10.webp",
            "/ExpoPage/Nacional/4/11.webp",
            "/ExpoPage/Nacional/4/12.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/5/01.webp"
          title="Expo Vial, Zacatecas"
          date="2009"
          images={[
            "/ExpoPage/Nacional/5/01.webp",
            "/ExpoPage/Nacional/5/02.webp",
            "/ExpoPage/Nacional/5/03.webp",
            "/ExpoPage/Nacional/5/04.webp",
            "/ExpoPage/Nacional/5/05.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/6/01.webp"
          title="Expo Espacios, Cd México"
          date="2009"
          images={[
            "/ExpoPage/Nacional/6/01.webp",
            "/ExpoPage/Nacional/6/02.webp",
            "/ExpoPage/Nacional/6/03.webp",
            "/ExpoPage/Nacional/6/04.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/7/01.webp"
          title="Expo Asfalto, Cancún"
          date="2009"
          images={[
            "/ExpoPage/Nacional/7/01.webp",
            "/ExpoPage/Nacional/7/02.webp",
            "/ExpoPage/Nacional/7/03.webp",
            "/ExpoPage/Nacional/7/04.webp",
            "/ExpoPage/Nacional/7/05.webp",
            "/ExpoPage/Nacional/7/06.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/8/01.webp"
          title="Simposio nacional de vias terrestres, Boca del Río"
          date="2009"
          images={[
            "/ExpoPage/Nacional/8/01.webp",
            "/ExpoPage/Nacional/8/02.webp",
            "/ExpoPage/Nacional/8/03.webp",
            "/ExpoPage/Nacional/8/04.webp",
            "/ExpoPage/Nacional/8/05.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/9/01.webp"
          title="Reunión nacional AMIVTAC, Monterrey"
          date="2008"
          images={[
            "/ExpoPage/Nacional/9/01.webp",
            "/ExpoPage/Nacional/9/02.webp",
            "/ExpoPage/Nacional/9/03.webp",
            "/ExpoPage/Nacional/9/04.webp",
            "/ExpoPage/Nacional/9/05.webp",
            "/ExpoPage/Nacional/9/06.webp",
            "/ExpoPage/Nacional/9/07.webp",
            "/ExpoPage/Nacional/9/08.webp",
            "/ExpoPage/Nacional/9/09.webp",
            "/ExpoPage/Nacional/9/10.webp",
            "/ExpoPage/Nacional/9/11.webp",
            "/ExpoPage/Nacional/9/12.webp",
            "/ExpoPage/Nacional/9/13.webp",
            "/ExpoPage/Nacional/9/14.webp",
            "/ExpoPage/Nacional/9/15.webp",
            "/ExpoPage/Nacional/9/16.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Nacional/10/01.webp"
          title="Expo minería, Hermosillo"
          date="2008"
          images={[
            "/ExpoPage/Nacional/10/01.webp",
            "/ExpoPage/Nacional/10/02.webp",
            "/ExpoPage/Nacional/10/03.webp",
            "/ExpoPage/Nacional/10/04.webp",
            "/ExpoPage/Nacional/10/05.webp",
            "/ExpoPage/Nacional/10/06.webp",
            "/ExpoPage/Nacional/10/07.webp",
            "/ExpoPage/Nacional/10/08.webp",
            "/ExpoPage/Nacional/10/09.webp",
          ]}
        />
      </div>
    </div>

    <div class="flex flex-col">
      <p class="font-bold text-lg md:text-2xl lg:text-2xl uppercase">
        International
      </p>
      <div class="grid grid-cols-2 gap-3">
        <GalleryItem
          cover="/ExpoPage/Internacional/1/01.webp"
          title="World of Asphalt, Houston"
          date="2018"
          images={[
            "/ExpoPage/Internacional/1/01.webp",
            "/ExpoPage/Internacional/1/02.webp",
            "/ExpoPage/Internacional/1/03.webp",
            "/ExpoPage/Internacional/1/04.webp",
            "/ExpoPage/Internacional/1/05.webp",
            "/ExpoPage/Internacional/1/06.webp",
            "/ExpoPage/Internacional/1/07.webp",
            "/ExpoPage/Internacional/1/08.webp",
            "/ExpoPage/Internacional/1/09.webp",
            "/ExpoPage/Internacional/1/10.webp",
            "/ExpoPage/Internacional/1/11.webp",
            "/ExpoPage/Internacional/1/12.webp",
            "/ExpoPage/Internacional/1/13.webp",
            "/ExpoPage/Internacional/1/14.webp",
            "/ExpoPage/Internacional/1/15.webp",
            "/ExpoPage/Internacional/1/16.webp",
            "/ExpoPage/Internacional/1/17.webp",
            "/ExpoPage/Internacional/1/18.webp",
            "/ExpoPage/Internacional/1/19.webp",
            "/ExpoPage/Internacional/1/20.webp",
            "/ExpoPage/Internacional/1/21.webp",
            "/ExpoPage/Internacional/1/22.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/2/01.webp"
          title="BAUMA, Shangai"
          date="2016"
          images={[
            "/ExpoPage/Internacional/2/01.webp",
            "/ExpoPage/Internacional/2/02.webp",
            "/ExpoPage/Internacional/2/03.webp",
            "/ExpoPage/Internacional/2/04.webp",
            "/ExpoPage/Internacional/2/05.webp",
            "/ExpoPage/Internacional/2/06.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/3/01.webp"
          title="Feria Minera, Bogotá"
          date="2016"
          images={[
            "/ExpoPage/Internacional/3/01.webp",
            "/ExpoPage/Internacional/3/02.webp",
            "/ExpoPage/Internacional/3/03.webp",
            "/ExpoPage/Internacional/3/04.webp",
            "/ExpoPage/Internacional/3/05.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/4/01.webp"
          title="INTERMAT, París"
          date="2015"
          images={[
            "/ExpoPage/Internacional/4/01.webp",
            "/ExpoPage/Internacional/4/02.webp",
            "/ExpoPage/Internacional/4/03.webp",
            "/ExpoPage/Internacional/4/04.webp",
            "/ExpoPage/Internacional/4/05.webp",
            "/ExpoPage/Internacional/4/06.webp",
            "/ExpoPage/Internacional/4/07.webp",
            "/ExpoPage/Internacional/4/08.webp",
            "/ExpoPage/Internacional/4/09.webp",
            "/ExpoPage/Internacional/4/10.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/5/01.webp"
          title="CONEXPO, Las Vegas"
          date="2014"
          images={[
            "/ExpoPage/Internacional/5/01.webp",
            "/ExpoPage/Internacional/5/02.webp",
            "/ExpoPage/Internacional/5/03.webp",
            "/ExpoPage/Internacional/5/04.webp",
            "/ExpoPage/Internacional/5/05.webp",
            "/ExpoPage/Internacional/5/06.webp",
            "/ExpoPage/Internacional/5/07.webp",
            "/ExpoPage/Internacional/5/08.webp",
            "/ExpoPage/Internacional/5/09.webp",
            "/ExpoPage/Internacional/5/10.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/6/01.webp"
          title="THE BIG 5, Dubai"
          date="2014"
          images={[
            "/ExpoPage/Internacional/6/01.webp",
            "/ExpoPage/Internacional/6/02.webp",
            "/ExpoPage/Internacional/6/03.webp",
            "/ExpoPage/Internacional/6/04.webp",
            "/ExpoPage/Internacional/6/05.webp",
            "/ExpoPage/Internacional/6/06.webp",
            "/ExpoPage/Internacional/6/07.webp",
            "/ExpoPage/Internacional/6/08.webp",
            "/ExpoPage/Internacional/6/09.webp",
            "/ExpoPage/Internacional/6/10.webp",
            "/ExpoPage/Internacional/6/11.webp",
            "/ExpoPage/Internacional/6/12.webp",
            "/ExpoPage/Internacional/6/13.webp",
            "/ExpoPage/Internacional/6/14.webp",
            "/ExpoPage/Internacional/6/15.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/7/02.webp"
          title="INTERMAT, París"
          date="2012"
          images={[
            "/ExpoPage/Internacional/7/01.webp",
            "/ExpoPage/Internacional/7/02.webp",
            "/ExpoPage/Internacional/7/03.webp",
            "/ExpoPage/Internacional/7/04.webp",
            "/ExpoPage/Internacional/7/05.webp",
            "/ExpoPage/Internacional/7/06.webp",
            "/ExpoPage/Internacional/7/07.webp",
            "/ExpoPage/Internacional/7/08.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/8/01.webp"
          title="Feria internacional Minería, Medellín"
          date="2011"
          images={[
            "/ExpoPage/Internacional/8/01.webp",
            "/ExpoPage/Internacional/8/02.webp",
            "/ExpoPage/Internacional/8/03.webp",
            "/ExpoPage/Internacional/8/04.webp",
            "/ExpoPage/Internacional/8/05.webp",
            "/ExpoPage/Internacional/8/06.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/9/04.webp"
          title="CONEXPO, Las Vegas"
          date="2011"
          images={[
            "/ExpoPage/Internacional/9/01.webp",
            "/ExpoPage/Internacional/9/02.webp",
            "/ExpoPage/Internacional/9/03.webp",
            "/ExpoPage/Internacional/9/04.webp",
            "/ExpoPage/Internacional/9/05.webp",
            "/ExpoPage/Internacional/9/06.webp",
            "/ExpoPage/Internacional/9/07.webp",
            "/ExpoPage/Internacional/9/08.webp",
            "/ExpoPage/Internacional/9/09.webp",
            "/ExpoPage/Internacional/9/10.webp",
            "/ExpoPage/Internacional/9/11.webp",
            "/ExpoPage/Internacional/9/12.webp",
            "/ExpoPage/Internacional/9/13.webp",
            "/ExpoPage/Internacional/9/14.webp",
            "/ExpoPage/Internacional/9/15.webp",
            "/ExpoPage/Internacional/9/16.webp",
            "/ExpoPage/Internacional/9/17.webp",
            "/ExpoPage/Internacional/9/18.webp",
            "/ExpoPage/Internacional/9/19.webp",
            "/ExpoPage/Internacional/9/20.webp",
            "/ExpoPage/Internacional/9/21.webp",
            "/ExpoPage/Internacional/9/22.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/10/01.webp"
          title="Congrés National de la route, París"
          date="2010"
          images={[
            "/ExpoPage/Internacional/10/01.webp",
            "/ExpoPage/Internacional/10/02.webp",
            "/ExpoPage/Internacional/10/03.webp",
            "/ExpoPage/Internacional/10/04.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/11/01.webp"
          title="THE BIG 5, Dubai"
          date="2010"
          images={[
            "/ExpoPage/Internacional/11/01.webp",
            "/ExpoPage/Internacional/11/02.webp",
            "/ExpoPage/Internacional/11/03.webp",
            "/ExpoPage/Internacional/11/04.webp",
            "/ExpoPage/Internacional/11/05.webp",
            "/ExpoPage/Internacional/11/06.webp",
            "/ExpoPage/Internacional/11/07.webp",
            "/ExpoPage/Internacional/11/08.webp",
            "/ExpoPage/Internacional/11/09.webp",
            "/ExpoPage/Internacional/11/10.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/12/01.webp"
          title="World of Asphalt, Cincinnati"
          date="2010"
          images={[
            "/ExpoPage/Internacional/12/01.webp",
            "/ExpoPage/Internacional/12/02.webp",
            "/ExpoPage/Internacional/12/03.webp",
            "/ExpoPage/Internacional/12/04.webp",
            "/ExpoPage/Internacional/12/05.webp",
            "/ExpoPage/Internacional/12/06.webp",
            "/ExpoPage/Internacional/12/07.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/13/01.webp"
          title="BAUMA, Berlín"
          date="2010"
          images={[
            "/ExpoPage/Internacional/13/01.webp",
            "/ExpoPage/Internacional/13/02.webp",
            "/ExpoPage/Internacional/13/03.webp",
            "/ExpoPage/Internacional/13/04.webp",
            "/ExpoPage/Internacional/13/05.webp",
          ]}
        />

        <GalleryItem
          cover="/ExpoPage/Internacional/14/01.webp"
          title="World of Asphalt, Orlando"
          date="2009"
          images={[
            "/ExpoPage/Internacional/14/01.webp",
            "/ExpoPage/Internacional/14/02.webp",
            "/ExpoPage/Internacional/14/03.webp",
            "/ExpoPage/Internacional/14/04.webp",
          ]}
        />
      </div>
    </div>
  </div>
  <GalleryModal />
</div>
