---
import DropdownComponent from "../../unitComponents/DropdownComponent.astro";
import OSHand from "../../../assets/images/OSHand.webp";
import Slider from "../../IntegralAsphalt/SliderOsIntegral";
import { Image } from "astro:assets";
import LearnBtnBlue from "../../unitComponents/LearnBtnBlue.astro";
import StackedInfoCards from "../../unitComponents/StackedInfoCards.astro";

const cards = [
    {
        title: "Totalmente personalizable",
        text: "Preparada para la instalación de cámaras, sistemas de registro digital o monitoreo en tiempo real con oficina, según los requerimientos del cliente.",
        bg: "#d13c3c",
        textColor: "#ffffff",
    },
    {
        title: "Fabricada con acero calibre 16 y paneles aislados",
        text: "Ofrecemos durabilidad y aislamiento térmico, garantizando resistencia estructural mientras mantiene un ambiente interior controlado.",
        bg: "#14427c",
        textColor: "#ffffff",
    },
    {
        title: "Aire acondicionado",
        text: "Con aire acondicionado de 1.5 toneladas, embutible para no exceder el ancho de transporte. Para que su equipo opere con mayor comodidad. Sabemos que la productividad y eficiencia de operación están directamente relacionadas con un entorno cómodo de trabajo.",
        bg: "#00840d",
        textColor: "#ffffff",
    },
    {
        title: "Transporte rápido",
        text: "Portátil, con tirón, un eje de 3,000 Lbs, llantas 8-14.5 y frenos eléctricos, patín para estacionamiento y dar la altura del enganche, además de luces reglamentarias: Frenos y direccionales.",
        bg: "#6b97c6",
        textColor: "#ffffff",
    },
];
---

<section class="py-2">
    <DropdownComponent
        title="La caseta de control ideal, pensada para brindar comodidad al personal, automatización total y transporte sencillo, permitiendo su reubicación rápida de forma independiente en cualquier momento."
    >
        <div class="space-y-5">
            <p>
                Triaso® ofrece una solución avanzada para la operación de mezcla
                asfáltica.
            </p>
            <p>
                La caseta de control remolcable está diseñada para facilitar su
                transporte mediante enganche para pick-up, permitiendo una
                instalación rápida, segura y práctica en cualquier sitio de
                trabajo.
            </p>
            <p>
                Cuentan con aislamiento térmico eficiente para mantener una
                temperatura adecuada en el interior, así como aire acondicionado
                de 1.5 tons, proporcionando un ambiente cómodo para el personal
                y una operación continua y segura.
            </p>
        </div>
    </DropdownComponent>
</section>

<!-- OS sección -->
<section class="bg-white overflow-visible">
    <div class="max-w-7xl mx-auto lg:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-12">
            <!-- Texto -->
            <div class="text-white max-w-xl px-8">
                <h1
                    class="text-2xl md:text-3xl font-semibold my-6 bg-gradient-to-r from-[#f8ad00] via-[#dc363a] to-[#3992ff] bg-clip-text text-transparent"
                >
                    Sistema de operación Triaso® − Relief
                </h1>
                <p class="text-[#393939] font-semibold leading-relaxed">
                    Ofrecemos una forma práctica y eficiente de gestionar el
                    funcionamiento de nuestros equipos. Gracias a sistemas
                    avanzados de monitoreo y automatización, <span
                        class="text-black"
                        >simplificamos tanto el manejo de los equipos como el
                        trabajo de la tripulación.
                    </span> Control total de cada etapa de la producción, con un seguimiento
                    completo de todos los datos operativos.
                </p>
                <div class="pt-5 flex items-center justify-center">
                    <a
                        href="/Relief"
                        aria-label="View page drum Mixers"
                        class="text-white text-center mb-5 mt-5 text-xs md:text-sm font-normal border-2 border-[#14427c] rounded-full py-2 px-6 transition-all duration-300 ease-out transform hover:scale-110 hover:shadow-lg bg-[#14427c] hover:bg-white hover:text-black hover:border-white"
                    >
                        Ver más
                    </a>
                </div>
            </div>

            <!-- Imagen -->
            <div class="flex justify-end relative">
                <Image
                    src={OSHand}
                    alt="Triaso OS"
                    class="w-[280px] md:w-[360px] lg:w-[420px]"
                />
            </div>
        </div>

        <Slider client:only />

        <div class="flex flex-col justify-center items-center space-y-5">
            <div class="flex flex-col space-y-2 px-8">
                <h1 class="font-bold text-3xl text-center">
                    Para evitar desperdicios, robos y mala operación de su
                    planta de asfalto
                </h1>
            </div>
            <div>
                <LearnBtnBlue />
            </div>
            <div class="px-8">
                <h1
                    class="text-2xl md:text-3xl font-semibold my-6 bg-gradient-to-r from-black to-[#2325a5] bg-clip-text text-transparent"
                >
                    Creemos que estos tipo de enfoques son la mejor inversión.
                </h1>
            </div>

            <div class="flex flex-col lg:flex-row md:flex-row gap-5 max-w-7xl px-8 overflow-hidden">
                <div class="relative w-full rounded-2xl overflow-hidden px-8">
                    <img
                        src="https://placehold.co/1200x500/png"
                        alt="Planta asfáltica Triaso"
                        class="w-full h-full object-cover absolute inset-0"
                    />

                    <div
                        class="absolute inset-0 bg-gradient-to-b from-black/75 via-black/40 to-transparent"
                    >
                    </div>

                    <div class="relative z-10 flex justify-start">
                        <div
                            class="w-full md:w-4/5 p-8 md:p-12 flex flex-col gap-4"
                        >
                            <h2
                                class="text-white font-black text-3xl md:text-4xl uppercase"
                            >
                                Completamente movil
                            </h2>

                            <p class="text-white font-bold text-lg md:text-xl">
                                Tirón integrado transporte directo al sitio
                            </p>

                            <ul class="list-disc flex flex-col gap-2 mt-1">
                                <li
                                    class="flex items-start gap-2 text-white/90 text-sm"
                                >
                                    Sin necesidad de cama baja, remolque plano ni tractocamión.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="relative w-full rounded-2xl overflow-hidden px-8">
                    <img
                        src="https://placehold.co/1200x500/png"
                        alt="Planta asfáltica Triaso"
                        class="w-full h-full object-cover absolute inset-0"
                    />

                    <div
                        class="absolute inset-0 bg-gradient-to-b from-black/75 via-black/40 to-transparent"
                    >
                    </div>

                    <div class="relative z-10 flex justify-start">
                        <div
                            class="w-full md:w-4/5 p-8 md:p-12 flex flex-col gap-4"
                        >
                            <h2
                                class="text-white font-black text-3xl md:text-4xl uppercase"
                            >
                                Vista amplia a la obra
                            </h2>

                            <p class="text-white font-bold text-lg md:text-xl">
                                El diseño está pensado para que tener una vista amplia a la obra, permitiendo ver toda la obra
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <StackedInfoCards
        cards={cards}
        mainTitle="Instalación rápida"
        mainDescription="Caseta de control remolcable diseñada para una instalación rápida, segura y práctica en cualquier sitio de trabajo."
    />
</section>
