---
import HeroComponent from "../../unitComponents/HeroComponent.astro";
import OdometerMontable from "./OdometerRemolcable.tsx";
---

<!-- Hero -->
<section>
    <HeroComponent
        title="Caseta Remolcable"
        image="https://placehold.co/1920x1080/png"
        altImage="https://placehold.co/600x400/png"
        imageAlt="Caseta Remolcable"
        descAltImage="Caseta Remolcable"
    />

    <div class="bg-[#1e1e1e]">
        <div class="max-w-7xl mx-auto px-8 space-y-10 py-10">
            <div class="flex flex-row justify-center items-center gap-10">
                <a
                    class="font-thing text-white text-xl lg:text-2xl"
                    href="/Casetas/CasetaMontable">Montable</a
                >
                <a
                    class="font-bold underline text-white text-xl lg:text-2xl"
                    href="/Casetas/CasetasRemolcables">Remolcable</a
                >
            </div>

            <div class="flex justify-center items-center text-center">
                <h1 class="font-semibold text-white text-lg lg:text-xl">
                    Todos los procesos son controlados desde una consola de
                    control remolcable, ideal para reubicaciones rápidas y
                    transporte sencillo. Para que su personal opere el equipo,
                    con total comodidad; de forma manual o automática con
                    nuestro más avanzado sistema de control Traso Relief™. Por
                    lo que garantizamos su gran productividad, calidad de mezcla
                    y operación libre de problemas.
                </h1>
            </div>

            <div
                class="flex flex-col lg:flex-row md:flex-row justify-center items-center gap-5"
            >
                <div
                    class="bg-black rounded-2xl w-36 text-center transition-all duration-300 hover:bg-white"
                >
                    <p class="py-3 font-semibold text-white hover:text-black">
                        Cotizar
                    </p>
                </div>
                <div
                    class="bg-white rounded-2xl w-36 text-center transition-all duration-300 hover:bg-black"
                >
                    <p class="py-3 font-semibold text-black hover:text-white">
                        Comparar
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <OdometerMontable client:only />
</section>
