<div class="max-w-7xl mx-auto px-8 space-y-5 mt-20">
    <div class="flex justify-start items-start">
        <h1 class="font-bold text-2xl lg:text-5xl md:text-5xl">About us</h1>
    </div>
    <div class="space-y-5">
        <p>
            Our company was founded in 1997 in Durango, Mexico, by a small group
            of Mexican engineers. At that time, we had already dedicated over 26
            years to road and infrastructure construction.
        </p>
        <p>
            At first, we bought used asphalt plants and stone crushers in the
            United States, renovated them, and sold them under guarantee in
            Mexico. Thanks to the reliability and productivity of this renovated
            equipment, we had great success.
        </p>
        <p>
            The renovation required manufacturing many new parts, which
            gradually led us to entirely produce the least complicated
            components and equipment: bin units, asphalt tanks, chassis,
            conveyor belts, etc.
        </p>
        <p>
            At the beginning of 2006, our asphalt plant number 58, was
            integrated with all its new components, making it our first
            completely new asphalt plant.
        </p>
        <p>
            We’ve dedicated plenty of resources, work, state-of-the-art
            technology, and research to developing and improving our asphalt
            plants and crushers, which is reflected in our clients’ trust and
            satisfaction.
        </p>
        <p>
            To illustrate this point, we’ve listed the most significant
            improvements of our asphalt plants:
        </p>
    </div>
</div>
