---
import Layout from "../../../layouts/Layout.astro";
import OdometerDrum from "../../../components/DrumMixers/Contraflujo/Plus/OdometerPlus";
import DrumMixPlanos from "../../../components/DrumMixers/DrumMixPlanos";
import HeroComponent from "../../../components/unitComponents/HeroComponent.astro";
import hero1 from "../../../assets/images/DrumMixers/Contraflujo/Plus/HeroImage.webp";
import DropdownComponent from "../../../components/unitComponents/DropdownComponent.astro";
import OsDrumSection from "../../../components/DrumMixers/OsDrumSection.astro";
import StackedInfoCards from "../../../components/unitComponents/StackedInfoCards.astro";
import HotspotSection from "../../../components/DrumMixers/Contraflujo/Plus/HotspotSection.astro";
import SliderTambores from "../../../components/DrumMixers/SliderTambores.astro";
import QuemadorSeccion from "../../../components/DrumMixers/Contraflujo/Plus/QuemadorSeccion.astro";
import BolsasSeccion from "../../../components/DrumMixers/Contraflujo/Plus/BolsasSeccion.astro";
import hero2 from "../../../assets/images/DrumMixers/Contraflujo/Cplus.webp";
import UltimaSeccion from "../../../components/DrumMixers/UltimaSeccion.astro"; 

const cards = [
    {
        title: "La planta de asfalto de contraflujo más equipada, más robusta, más moderna de Latinoamérica.",
        text: "",
        bg: "#eae5d4",
        textColor: "#000000",
    },
    {
        title: "Solución práctica y eficiente para quienes buscan una operación confiable con una inversión más accesible.",
        text: "",
        bg: "#14427c",
        textColor: "#ffffff",
    },
    {
        title: "Operación total manual o automática para un control eficiente y sencillo del equipo, con menor necesidad de intervención del operador.",
        text: "",
        bg: "#00840d",
        textColor: "#ffffff",
    },
    {
        title: "Operación estable, continua, intensiva y prolongada sin paros, a gran escala, con una configuración ideal para trabajo pesado y condiciones variables, la planta está completamente equipada.",
        text: "",
        bg: "#6b97c6",
        textColor: "#ffffff",
    },
];
---

<Layout title="Tambor de contraflujo">
    <div class="mt-10">
        <HeroComponent
            title="Tambor de Contraflujo Plus"
            image={hero1.src}
            accentColor="#f4f5f6"
            imageAlt="Tambor de Contraflujo Plus"
            altImage={hero2.src}
            descAltImage="Tambor de Contraflujo Plus"
        />
    </div>
    <div class="bg-[#f4f5f6]">
        <div class="max-w-7xl mx-auto px-8 space-y-10 py-10">
            <div class="flex flex-row justify-center items-center gap-10">
                <a
                    class="font-thin text-black text-xl lg:text-2xl"
                    href="/TamborMezcla/Contraflujo/ContraDesamaq">Desamaq</a
                >
                <a
                    class="underline font-bold text-black text-xl lg:text-2xl"
                    href="/TamborMezcla/Contraflujo/ContraPlus">Plus</a
                >
                <a
                    class="font-thin text-black text-xl lg:text-2xl"
                    href="/DrumMixers">Pro +</a
                >
            </div>

            <div class="flex justify-center items-center text-center">
                <h1 class="font-semibold text-black text-lg lg:text-xl">
                    Para contratistas experimentados que buscan una producción
                    exigencias técnica superiores, siendo capaces de adaptarse a
                    cualquier proyecto, incluso con diferentes tipos de mezcla.
                    Ideal para una operación ecológica evitando multas y paros
                    costosos por contaminación, con bajo consumo de combustible
                    ofreciendo una excelente relación costo-beneficio en su
                    categoría, con alto porcentaje de incorporación de RAP de
                    hasta 40%.
                </h1>
            </div>

            <div
                class="flex flex-col lg:flex-row md:flex-row justify-center items-center gap-5"
            >
                <div
                    class="bg-black rounded-2xl w-36 text-center transition-all duration-300 hover:bg-white"
                >
                    <p class="py-3 font-semibold text-white hover:text-black">
                        Cotizar
                    </p>
                </div>
                <div
                    class="bg-white rounded-2xl w-36 text-center transition-all duration-300 hover:bg-black"
                >
                    <p class="py-3 font-semibold text-black hover:text-white">
                        Comparar
                    </p>
                </div>
            </div>
        </div>
    </div>
    <OdometerDrum client:only />

    <div>
        <DropdownComponent
            title="El modelo ideal si busca automatización, rendimiento, calidad y economía de compra, compitiendo con plantas de asfalto en su región."
        >
            <div class="space-y-5">
                <p>
                    Triaso® ofrece la solución ideal para la producción continua
                    de mezcla asfáltica, integrando secado, mezclado,
                    incorporación de RAP, captura de finos en la casa de bolsas
                    y su reincorporación en un solo chasis diseñado para trabajo
                    pesado, con opción de tolvas montadas. Su diseño está
                    orientado a una operación continua, eficiente y con mayor
                    control del proceso, garantizando eficiencia operativa,
                    tranquilidad de su cliente y durabilidad del pavimento en
                    cualquier proyecto.
                </p>
                <p>
                    Fabricados con materiales reforzados y componentes de mayor
                    durabilidad, estos tambores aseguran eficiencia energética,
                    menor desgaste y una mezcla asfáltica de alta calidad. Son
                    ideales para operaciones móviles o semi-fijas que buscan
                    mayor productividad y estabilidad en jornadas prolongadas.
                </p>
            </div>
        </DropdownComponent>
    </div>
    <!-- <OsDrumSection /> -->

    <!-- <div class="bg-[#1e1e1e] flex flex-col justify-center items-center px-8">
        <div class="flex flex-col justify-center items-center pb-10">
            <h1
                class="text-white font-bold text-3xl text-center lg:text-start md:text-start"
            >
                Para evitar desperdicios, robos y mala operación de su planta de
                asfalto
            </h1>
            <p class="text-white text-center lg:text-start md:text-start">
                Paro total con un solo botón desde su celular
            </p>
        </div>
    </div> -->

    <div class="mt-5">
        <StackedInfoCards
            cards={cards}
            mainTitle="Su mejor negocio comienza con nosotros"
            mainDescription="Los contratistas que nos conocen prefieren Triaso sobre otras marcas por nuestra alta calidad, confiabilidad y precios."
        />
    </div>

    <HotspotSection />

    <div class="max-w-7xl mx-auto px-8">
        <SliderTambores />
    </div>

    <QuemadorSeccion />

    <BolsasSeccion />

    <DrumMixPlanos client:only />

    <UltimaSeccion/>
</Layout>
