<div class="mt-20">
    <div class="max-w-7xl mx-auto px-8 space-y-4 pb-10">
        <div class="space-y-2">
            <h1 class="font-bold text-xl lg:text-4xl md:text-4xl">
                Terms & Conditions
            </h1>
            <h2 class="font-thin text-sm">Last Update: 24/02/2026</h2>
            <p class="text-sm lg:text-base md:text-base">
                Welcome to the TRIASOUS.com website. By accessing and using this
                Site, you agree to comply with these Terms and Conditions of
                Use. If you do not agree with any of the points set forth
                herein, we recommend that you do not use this Site.
            </p>
        </div>

        <div class="space-y-2">
            <h2 class="font-bold text-lg lg:text-2xl md:text-2xl">Site Use</h2>
            <ul class="list-disc pl-5">
                <li>
                    The purpose of the Site is to provide information about the
                    asphalt plant and rock crusher manufacturing services
                    offered by Triaso.
                </li>
                <li>
                    Users can request information or price quotes through the
                    contact forms.
                </li>
                <li>
                    It is prohibited to use the Site for illegal, defamatory,
                    fraudulent activities or activities that affect third
                    parties.
                </li>
            </ul>
        </div>

        <div class="space-y-2">
            <h2 class="font-bold text-lg lg:text-2xl md:text-2xl">
                Forms and Personal Data
            </h2>
            <ul class="list-disc pl-5">
                <li>
                    The user may submit contact information (name, email
                    address, phone number) for the sole purpose of receiving a
                    response to their pricing request.
                </li>
                <li>
                    The data provided is stored in an internal database and is
                    not shared with third parties without the user's
                    authorization, except where legally required.
                </li>
                <li>
                    The Site does not process online payments or financial
                    requests.
                </li>
            </ul>
        </div>

        <div class="space-y-2">
            <h2 class="font-bold text-lg lg:text-2xl md:text-2xl">
                Intellectual Property
            </h2>
            <ul class="list-disc pl-5">
                <li>
                    All content on the Site, including logos, images, text, designs, and graphic materials, is the property of Triaso or is used with permission.
                </li>
                <li>
                    Copying, reproducing, or distributing the content without prior written consent from Triaso is not permitted.
                </li>
            </ul>
        </div>

        <div class="space-y-2">
            <h2 class="font-bold text-lg lg:text-2xl md:text-2xl">
                Liability Limitation
            </h2>
            <ul class="list-disc pl-5">
                <li>
                    Triaso makes reasonable efforts to keep the information on the Site up to date, but does not guarantee that it is complete, accurate, or error-free.
                </li>
                <li>
                    Use of the Site is the sole responsibility of the user.
                </li>
                <li>
                    Triaso is not liable for damages arising from the use of the Site, technical failures, or temporary inability to access it.
                </li>
            </ul>
        </div>

        <div class="space-y-2">
            <h2 class="font-bold text-lg lg:text-2xl md:text-2xl">
               Third-Party Links
            </h2>
            <p>The Site may contain links to third-party websites. Nortam is not responsible for the content, policies, or practices of such sites.</p>
        </div>
        <div class="space-y-2">
            <h2 class="font-bold text-lg lg:text-2xl md:text-2xl">
                Modifications
            </h2>
            <ul class="list-disc pl-5">
                <li>
                    Triaso reserves the right to update or modify these Terms and Conditions at any time.
                </li>
                <li>
                    The modifications will take effect from the moment they are published on this Site.
                </li>
            </ul>
        </div>
        <div class="space-y-2">
            <h2 class="font-bold text-lg lg:text-2xl md:text-2xl">
                Contact
            </h2>
            <p>If you have any questions about these Terms and Conditions, you can contact us via the contact form on the Site or by email at: sales@triasous.com.</p>
        </div>
    </div>
</div>
