---
import LenguageSelector from "../NavbarComp/LenguageSelector.astro"
import LinkNavbar from "../NavbarComp/LinkNavbar.astro"
import Logo from "../../assets/logos/LogoTriasoUs.svg"
import { menuItems } from "../../assets/data/menuItems"
import MobileMenu from "../NavbarComp/MobileMenu.astro"
import Image from "astro/components/Image.astro"
---
<nav class="bg-white border-b-2 border-blueMain font-sans font-bold text-black text-sm fixed z-50 w-full">
  <div class="max-w-screen mx-auto px-4 flex justify-between items-center h-16">
    {/* Logo */}
    <div class="flex items-center space-x-2 max-w-[200px] flex-shrink-0">
       <a href="/"><Image src={Logo} alt="Triaso Logo" class="h-5 md:h-10 w-auto" /></a>
    </div>

    {/* Menú principal */}
    <div class="flex-grow justify-around hidden lg:block">
      <div class="flex space-x-6 gap-10 items-center justify-center">
        {/* Map through menuItems to create links */}
        {menuItems.map((item) => (
          <LinkNavbar item={item} key={item.url} />
        ))}
      </div>
    </div>
    <div class="hidden lg:flex">
      <LenguageSelector />
    </div>
    
    <MobileMenu />
  </div>
</nav>


