---
import CDFirstSection from "../components/ServicesPage/CustomDesign/CDFirstSection.astro";
import GallerySlider from "../components/unitComponents/GallerySlider";
import Layout from "../layouts/Layout.astro";
import g1 from "../assets/images/Service/CustomDesign/Gallery/CDG1.webp"
import g2 from "../assets/images/Service/CustomDesign/Gallery/CDG2.webp"
import g3 from "../assets/images/Service/CustomDesign/Gallery/CDG3.webp"
import g4 from "../assets/images/Service/CustomDesign/Gallery/CDG4.webp"
import g5 from "../assets/images/Service/CustomDesign/Gallery/CDG5.webp"
import g6 from "../assets/images/Service/CustomDesign/Gallery/CDG6.webp"
import g7 from "../assets/images/Service/CustomDesign/Gallery/CDG7.webp"
import g8 from "../assets/images/Service/CustomDesign/Gallery/CDG8.webp"
const Slides= [
    {
        image:g1.src,
        caption:'60 Tph tire rubber incorporator for asphalt'
    },
    {
        image:g2.src,
        caption:'60 Tph tire rubber incorporator for asphalt'
    },
    {
        image:g3.src,
        caption:'60 Tph tire rubber incorporator for asphalt'
    },
    {
        image:g4.src,
        caption:'60 Tph tire rubber incorporator for asphalt'
    },
    {
        image:g5.src,
        caption:'30,000-gallon (114 m³) tire rubber reaction tank with asphalt'
    },
    {
        image:g6.src,
        caption:'30,000-gallon (114 m³) tire rubber reaction tank with asphalt'
    },
    {
        image:g7.src,
        caption:'30,000-gallon (114 m³) tire rubber reaction tank with asphalt'
    },
    {
        image:g8.src,
        caption:'30,000-gallon (114 m³) tire rubber reaction tank with asphalt'
    }
]
---
<Layout title="Custom Design Page">
    <CDFirstSection></CDFirstSection>
    <div class="max-w-7xl mx-auto px-8">
        <GallerySlider client:only slides={Slides} visibleThumbs={4}></GallerySlider>
    </div>
    
</Layout>