---
import Layout from "../layouts/Layout.astro";
import IntroductionSection from "../components/IntegralAsphalt/IntroductionSection.astro";
import SlidersCarrusel from "../components/IntegralAsphalt/SlidersCarrusel";
import Hero2 from "../components/IntegralAsphalt/Hero2.astro";
import TabsIntegral from "../components/IntegralAsphalt/TabsIntegral";
import NeedSection from "../components/IntegralAsphalt/NeedSection.astro";
import Banner from "../components/unitComponents/Banner.astro";
import CardSection from "../components/IntegralAsphalt/CardSection.astro";
import PlanoSection from "../components/IntegralAsphalt/PlanoSection";
import SliderHero from "../components/IntegralAsphalt/SliderHero";
import OdometerSection from "../components/IntegralAsphalt/OdometerSection";
import CardSectionResponsive from "../components/unitComponents/CardSectionResponsive.astro";
import HeroComponent from "../components/unitComponents/HeroComponent.astro";

import hero1 from "../assets/images/IntegralAsphalt/Hero2.webp";
import hero2 from "../../public/Gallery/tolva3.webp";

const images2 = [
  {
    src: "/Gallery/counterflow.webp",
    title: "Tambor secador de contraflujo",
    texto: `<span style="color:black">El tambor secador de contraflujo</span>, ubicado en el centro del chasis, está diseñado para una transferencia de calor eficiente y una mínima pérdida de finos, garantizando una calidad constante en la mezcla asfáltica. Su construcción robusta y el sistema avanzado de sellado minimizan la infiltración de aire y reducen el mantenimiento. Diseñado específicamente para la planta de 10 TPH, ofrece un rendimiento confiable en un sistema compacto y rentable.`,
  },
  {
    src: "/Gallery/Caja2.webp",
    title: "Mezclador pugmill externo",
    texto: `<span style="color:black">El mezclador externo tipo pugmill,</span> está montado directamente debajo de la salida del tambor. Esta etapa adicional asegura una mezcla más homogénea y consistente al combinar completamente los materiales antes de la descarga. Impulsado por un motor de 5 hp con una caja reductora robusta, cuenta con paletas intercambiables resistentes al desgaste para una larga vida útil y mantenimiento sencillo.`,
  },
  {
    src: "/Gallery/aggregatesbin.webp",
    title: "Tolva de agregados",
    texto: `<span style="color:black">La tolva de agregados </span> está diseñada para almacenar material pre-dosificado listo para la producción de asfalto, o con opción de la tolva tri-partida. Su descarga trapezoidal y el funcionamiento suave de la banda transportadora aseguran un flujo constante y controlado hacia el sistema de secado. Equipada con una polea recubierta en la cabeza para mejorar la tracción de la banda, permite una alimentación continua que garantiza una mezcla de calidad constante durante todo el proceso.`,
  },
  {
    src: "/Gallery/Tnq.webp",
    title: "Tanque de asfalto",
    texto: `<span style="color:black">El tanque de asfalto</span> está diseñado para un almacenamiento y calentamiento eficiente, garantizando un suministro constante de asfalto a la temperatura ideal para la producción. Equipado con un quemador de 140,000 Btu/h y un agitador de asfalto, permite un calentamiento rápido y tiempos de arranque más cortos. Una bomba de carga de 2" con motor de 2 hp asegura un flujo de asfalto uniforme, optimizando la eficiencia de la planta.`,
  },
  {
    src: "/Gallery/electricgen.webp",
    title: "Generador eléctrico",
    texto: `Generador eléctrico de 20 kW en operación continua y 22 kW en modo de emergencia, diseñado para alimentar de forma confiable todos los sistemas de la planta de asfalto. Cuenta con un motor diésel Cummins de 35 hp y un tanque de 110 litros, lo que le permite operar por largas jornadas con mínimo mantenimiento. Su carcasa insonorizada asegura un funcionamiento silencioso.`,
  },
  {
    src: "/Gallery/controlgabinet.webp",
    title: "Gabinete de control",
    texto: `<span style="color:black">El gabinete de control</span> centraliza toda la operación de la planta, ofreciendo un control sencillo y óptimo de cada etapa, desde la alimentación de agregados hasta la inyección de asfalto. Está fabricado con componentes industriales de alta calidad, lo que asegura un funcionamiento confiable incluso en condiciones exigentes. Su interfaz permite ajustar con precisión la temperatura, el flujo de materiales y los tiempos de mezclado.`,
  },
  {
    src: "/Gallery/fueltank.webp",
    title: "Tanque de combustible",
    texto: `<span style="color:black">El tanque de combustible</span>, ubicado detrás del tanque de asfalto, tiene una capacidad de 750 litros y suministra diésel al sistema de quemado. Su colocación permite un fácil acceso para el repostaje, manteniendo al mismo tiempo un diseño compacto dentro de la planta. Construido para ofrecer durabilidad y operación continua, permite ciclos de producción prolongados sin interrupciones.`,
  },

  {
    src: "/Gallery/burner.webp",
    title: "Quemador",
    texto: `<span style="color:black">El quemador </span>optimiza el calor necesario para todo el proceso de secado y mezcla en el tambor, asegurando una combustión eficiente y estable. Manteniendo un rendimiento confiable incluso en las condiciones de operación más exigentes. Su sistema de control preciso regula automáticamente la relación aire-combustible, maximizando la eficiencia térmica, reduciendo el consumo de combustible y minimizando las emisiones.`,
  },
];
---

<Layout title="Plantas de asfalto integrales">
  <div class="mt-10">
    <HeroComponent
      title="Plantas de asfalto de 10 Tph integrales de contraflujo"
      image={hero1.src}
      imageAlt="Plantas de asfalto de 10 Tph integrales de contraflujo"
      altImage={hero2.src}
      descAltImage="Plantas de asfalto de 10 Tph integrales de contraflujo"
    />
  </div>

  <div class="bg-[#1e1e1e]">
    <div class="max-w-7xl mx-auto px-8 py-10">
      <div
        class="flex flex-col justify-center items-center text-center space-y-5"
      >
        <h1 class="font-thin text-white text-base">
          Ofrece una solución compacta, todo en uno para una producción de
          mezcla asfáltica eficiente. Combina todos los componentes montados
          sobre un chasis. Esta planta está diseñada para ofrecer flexibilidad,
          facilidad de transporte y un rendimiento confiable en diversos
          entornos operativos.
        </h1>
        <h1 class="font-thin text-white text-base">
          Montada sobre un chasis móvil o sobre patas estacionarias, esta planta
          de asfalgo está diseñada para ofrecer flexibilidad, facilidad de
          transporte y un desempeño confiable en distintos entornos de
          operación.
        </h1>
      </div>
    </div>
  </div>
  <OdometerSection client:only />
  <div class="max-w-[1920px] mx-auto px-8">
    <SlidersCarrusel client:visible images={images2} />
  </div>
  <Hero2/>
  <SliderHero client:visible />
  <TabsIntegral client:visible />

  <NeedSection />
  <Banner />
  <PlanoSection client:only />
  <!-- <CardSection /> -->
  <CardSectionResponsive />
</Layout>
