---
import CMG5 from "../../assets/images/ColdMix/GallerySlider/CMG5.webp";
import HeroComponent from "../unitComponents/HeroComponent.astro";
import HeroCold from "../../assets/images/ColdMix/HeroColdMix.webp";
import { Image } from "astro:assets";
import poster1 from "../../../public/Videos/Webm/Posters/10.webp";
import SmartVideo from "../unitComponents/SmartVideo";
import CMOdom from "./CMOdom";
---

<section>
  <div>
    <HeroComponent
      title="PLANTAS DE MEZCLADO EN FRÍO"
      image={HeroCold.src}
      imageAlt="PLANTAS DE MEZCLADO EN FRÍO"
    />
  </div>

  <div class="bg-[#1e1e1e]">
    <div class="max-w-7xl mx-auto px-8 space-y-10 py-10">
      <div
        class="flex flex-col space-y-5 justify-center items-center text-center"
      >
        <h1 class="font-semibold text-white text-lg lg:text-xl">
          Las plantas Triaso® de mezcla en frío están diseñadas específicamente
          para producir mezclas de agregados sin aplicar calor. Mediante un
          pugmill de doble eje, estas plantas combinan agregados sin calentar
          con emulsión asfáltica u otros ligantes líquidos para obtener una
          mezcla uniforme y resistente, adecuada para una amplia variedad de
          aplicaciones.
        </h1>
        <h1 class="font-semibold text-white text-lg lg:text-xl">
          Equipadas con tolvas de dosificación precisa, aseguran un control
          exacto de las proporciones de los materiales, ofreciendo un desempeño
          consistente en cada lote. Su capacidad para manejar distintos tipos de
          agregados las hace ideales para bacheo, mantenimiento de carreteras y
          trabajos de pavimentación a pequeña escala.
        </h1>
      </div>
    </div>
  </div>
</section>

<div class="w-full flex flex-col justify-center">
  <div
    class="w-full max-w-7xl mx-auto px-8 flex flex-col justify-center items-center font-bold"
  >
    <div>
      <CMOdom client:only />
    </div>

    <div class="w-full flex justify-center">
      <div
        class="max-w-7xl bg-grisT rounded-xl p-8 grid grid-cols-1 md:grid-cols-2 items-center justify-center gap-10"
      >
        <div class="w-full text-white flex flex-col gap-3 justify-center">
          <h1 class="text-3xl md:text-4xl font-bold">
            Mezclado en frío = Mezcla eco-amigable
          </h1>
          <div class="w-full h-0.5 bg-white"></div>
          <p class="text-sm lg:text-lg md:text-lg">
            Diseñadas para ofrecer eficiencia y adaptabilidad—con una
            instalación rápida y un mantenimiento mínimo— las plantas de mezcla
            en frío Triaso® brindan una solución confiable para contratistas,
            municipios y proyectos en zonas urbanas y remotas. Proporcionan una
            producción constante de mezcla de agregados cuando se requiera, sin
            las emisiones ni complejidad de calentar los agregados.
          </p>
        </div>
        <div
          class="w-full flex justify-center rounded-2xl overflow-hidden self-center"
        >
          <SmartVideo
            client:visible
            src="/Videos/Webm/CMVideo.webm"
            poster={poster1.src}
            isLoop={true}
            autoplayOnMobile={false}
          />
        </div>
      </div>
    </div>
  </div>
</div>
