---
import Logo from "../../assets/logos/LogoTriasoUs.webp";
import { Image } from "astro:assets";
---

<div class="w-full flex flex-col justify-center items-center bg-blueMain">
  <div
    class="max-w-7xl grid grid-cols-1 md:grid-cols-2 justify-center font-bold text-white bg-blueMain px-4 relative gap-3 md:gap-10 py-10 h-full"
  >
    <div class="p-6 bg-grisT rounded-2xl w-full h-full z-10">
      <h2 class="text-lg md:text-xl">On-Demand Asphalt Production</h2><br />
      <p class="text-sm md:text-lg text-grisSubP">
        Cold mix plants offer the flexibility to produce aggregate mix on-site
        as needed, reducing dependence on external suppliers. This minimizes
        delays and allows the mix to be prepared and applied immediately — an
        advantage for remote locations and emergency repair projects.
      </p>
    </div>
    <div class="p-6 bg-grisT rounded-2xl w-full h-full z-10">
      <h2 class="text-lg md:text-xl">Low Operating Costs</h2><br />
      <p class="text-sm md:text-lg text-grisSubP">
        Without burners or thermal oil systems, cold mix plants significantly
        reduced fuel consumption and maintenance expenses. Their simple
        mechanical design minimizes downtime and supports long-term operational
        efficiency for both municipalities and contractors.
      </p>
    </div>
    <div
      class="w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-0"
    >
      <Image src={Logo} alt="Triaso logo"/>
    </div>
  </div>
</div>
