---
import LearnBtn from "./LearnBtn.astro";
import Separator from "./Separator.astro";
import sideP from '../../assets/images/DrumMixers/sideP.webp';
import { Image } from "astro:assets";
---

<div class="w-full bg-blueMain my-10">
    <div class="max-w-7xl px-8 mx-auto text-xl md:text-4xl font-bold my-10">
            <div class="w-full flex flex-col lg:flex-row md:flex-row justify-between pb-3 lg:pb-0 md:pb-0">
                <div class="w-full">
                    <h1 class="text-white">AESTHETIC SIDE PANELS</h1>
                    <Separator/>
                </div>
                <div class="text-start lg:text-end md:text-end">
                    <h2 class="text-white">
                    ENHANCE YOUR COMPANY IMAGE <br> WITH TRIASO DESIGN
                    </h2>
                </div>
            </div>
            <div class="w-full  md:w-1/2 lg:w-1/2">
                <p class="text-white text-base md:text-lg">
                    The aesthetic panels are designed not only for visual appeal but
                     to enhance the professional image of your equipment and your company.
                </p>
            </div>
            <div class="my-10 flex flex-col justify-center items-center gap-6">
                <Image src={sideP} alt="Aesthetic Side Panel">
                <div class="max-w-[250px]">
                    <LearnBtn href="/AestheticSide" label="Go to page Aesthethic Sides"/>
                </div>
            </div>
    </div>
</div>