---
import InfoSection from "./LandinPage/InfoSection.astro";
import MainSection from "./LandinPage/MainSection.astro";
import AsphaltSection from "./LandinPage/AsphaltSection.astro";
import MapaSection from "./LandinPage/MapaSection.astro";
import SpareSection from "./LandinPage/SpareSection.astro";
import ManufactuSection from "./LandinPage/ManufactuSection.astro";
import ControlSection from "./LandinPage/ControlSection.astro";
import FuelSection from "./LandinPage/FuelSection.astro";
import DeliverySection from "./LandinPage/DeliverySection.astro";
import TotalAirSection from "./LandinPage/TotalAirSection.astro";
import ItemsSlider from "./LandinPage/ItemsSlider";
import TriasoOSSection from "./LandinPage/TriasoOSSection.astro";
import BannerSection from "./ContactPage/BannerSection.astro";
import StackedInfoCards from "./unitComponents/StackedInfoCards.astro";

const images1 = [
  {
    src: "/Gallery/5.svg",
    title: "Vida útil prolongada y económica",
    texto:
      "Rentable, de gran durabilidad, fabricado con materiales de primera calidad y sometido a un estricto control de calidad.",
  },
  {
    src: "/Gallery/6.svg",
    title: "Requiere poco mantenimiento",
    texto:
      "Requiere un mantenimiento mínimo, lo que garantiza su fiabilidad a largo plazo.",
  },
  {
    src: "/Gallery/7.svg",
    title: "Normativa de construcción",
    texto:
      "Cumple con todas las normas y reglamentos de construcción pertinentes de los Estados Unidos Mexicanos.",
  },
  {
    src: "/Gallery/8.svg",
    title: "Rentable",
    texto:
      "Reduzca el tiempo de inactividad, los costos de reubicación y el mantenimiento gracias a un diseño eficiente y un rendimiento confiable.",
  },
  {
    src: "/Gallery/9.svg",
    title: "Alta productividad",
    texto:
      "Aprovechamiento de la capacidad máxima de sus componentes y equilibrio entre ellos para evitar cuellos de botella y lograr una alta eficiencia.",
  },
  {
    src: "/Gallery/10.svg",
    title: "Muy fácil de transportar",
    texto:
      "Fácil de transportar y reubicar, lo que permite ahorrar tiempo y costes; ideal tanto para obras múltiples como para operaciones fijas",
  },
  {
    src: "/Gallery/11.svg",
    title: "Mejora de la imagen de la empresa",
    texto:
      "La estética industrial realza el atractivo visual de sus instalaciones.",
  },
  {
    src: "/Gallery/12.svg",
    title: "Personalizable",
    texto:
      "Adaptamos las funciones para que se ajusten a los requisitos específicos de su proyecto y a sus objetivos operativos.",
  },
];

const cards = [
  {
    title: "Atención técnica inmediata de fábrica",
    text: "",
    bg: "#14427c",
    textColor: "#ffffff",
  },
  {
    title: "Técnicos de fabrica para asistencia inmediata.",
    text: "",
    bg: "#595959",
    textColor: "#ffffff",
  },
  {
    title: "Refacciones de entrega inmediata",
    text: "",
    bg: "#ca1c1c",
    textColor: "#ffffff",
  },
  {
    title: "Soporte postventa de fábrica continuo, cercano e inmediato.",
    text: "",
    bg: "#00840d",
    textColor: "#ffffff",
  },
];
---

<div class="w-full">
  <MainSection />
  <MapaSection />
  <InfoSection />
  <ItemsSlider client:idle images={images1} />
  <TriasoOSSection />

  <div class="w-full bg-[#ca1c1c] my-10">
    <div class="flex justify-center items-center py-10">
        <h1 class="font-bold text-white text-lg lg:text-2xl md:text-2xl">¡Apostemos por México!</h1>
    </div>
  </div>

  <StackedInfoCards
    cards={cards}
    mainTitle="Con nosotros, al ser de México usted tiene muchas ventajas, entre otras: "
    mainDescription="Cuidando así lo que más importa, menor tiempo de inactividad de su equipo."
  />

  <!-- <AsphaltSection />

  <SpareSection />
  <ManufactuSection />
  <ControlSection />
  <FuelSection />
  <DeliverySection />
  <TotalAirSection /> -->
</div>
