---
import InfoSection from "./LandinPage/InfoSection.astro";
import MainSection from "./LandinPage/MainSection.astro";
import AsphaltSection from "./LandinPage/AsphaltSection.astro";
import MapaSection from "./LandinPage/MapaSection.astro";
import SpareSection from "./LandinPage/SpareSection.astro";
import ManufactuSection from "./LandinPage/ManufactuSection.astro";
import ControlSection from "./LandinPage/ControlSection.astro";
import FuelSection from "./LandinPage/FuelSection.astro";
import DeliverySection from "./LandinPage/DeliverySection.astro";
import TotalAirSection from "./LandinPage/TotalAirSection.astro";
import ItemsSlider from "./LandinPage/ItemsSlider";
import TriasoOSSection from "./LandinPage/TriasoOSSection.astro";
import BannerSection from "./ContactPage/BannerSection.astro";

const images1 = [
  {
    src: "/Gallery/5.svg",
    title: "Economic long-lasting life",
    texto:
      "Cost-effective, long-lasting durability, crafted with premium materials and strict quality control.",
  },
  {
    src: "/Gallery/6.svg",
    title: "Low maintenance",
    texto: "Minimal upkeep required, ensuring long-term reliability.",
  },
  {
    src: "/Gallery/7.svg",
    title: "Construction regulations",
    texto:
      "Compliant with all relevant U.S. construction standards and regulations.",
  },
  {
    src: "/Gallery/8.svg",
    title: "Cost-Effective",
    texto:
      "Reduce downtime, relocation costs, and maintenance with efficient design and reliable performance.",
  },
  {
    src: "/Gallery/9.svg",
    title: "High productivity",
    texto:
      "Utilization of the maximum capacity of its components and balance between them to avoid bottlenecks and achieve high efficiency.",
  },
  {
    src: "/Gallery/10.svg",
    title: "Highly portable",
    texto:
      "Easy to transport and relocate, saving time and costs, ideal for both multiple job sites and stationary operations",
  },
  {
    src: "/Gallery/11.svg",
    title: "Improved Company Image",
    texto:
      "Industrial aesthetics enhance the visual appeal of your operations.",
  },
  {
    src: "/Gallery/12.svg",
    title: "Customizable",
    texto:
      "We tailor features to align with your specific project requirements and operational goals.",
  },

  // agrega hasta 16 o más imágenes
];
---

<div class="w-full">
  <MainSection />
  <MapaSection />
  <InfoSection />
  <ItemsSlider client:idle images={images1} />
  <TriasoOSSection />
  <BannerSection />

  <!-- <AsphaltSection />

  <SpareSection />
  <ManufactuSection />
  <ControlSection />
  <FuelSection />
  <DeliverySection />
  <TotalAirSection /> -->
</div>
