---
import img1 from "../../assets/logos/triasoLogo.webp";
import triple1 from "../../assets/images/IntegralAsphalt/triple1.webp";
import triple2 from "../../assets/images/IntegralAsphalt/triple2.webp";
import { Image } from "astro:assets";
---

<div class="w-full flex flex-col items-center justify-center font-bold mt-20">
    <div
        class="grid grid-cols-1 md:grid-cols-2 justify-center items-center max-w-7xl mx-auto px-8 mt-4 md:mt-10"
    >
        <div class="w-full max-w-7xl mx-auto px-8">
            <Image
                src={triple1}
                alt="Top of a Integral asphalt plant of 10 Tph"
                class="rounded-2xl"
                width={681}
                height={548}
            />
        </div>

        <h1 class="px-4 py-5 text-xl lg:text-2xl text-blueMain r">
            Venda a un precio más bajo, atraiga a más clientes y obtenga mayores
            ganancias
        </h1>
    </div>

    <div
        class="grid grid-cols-1 md:grid-cols-2 justify-center items-center max-w-7xl mx-auto px-8 mt-4 md:mt-10"
    >
        <div class="flex flex-col items-start justify-start">
            <div class="flex flex-col lg:pr-5 items-start justify-start w-full">
                <h1 class="text-xl lg:text-2xl text-blueMain">
                    Opción de tolva tri partida
                </h1>
                <p class="text-grisT">
                    Para trabajos donde la velocidad es clave, puede elegir la
                    opción de tolva tripartida. Esto permite cargar el material
                    directamente, sin dosificación ni tiempos de espera.
                    Simplemente cargue los agregados y comience la producción.
                </p>
            </div>
        </div>
        <div class="flex py-5 justify-end items-end w-full">
            <Image
                src={triple2}
                alt="Triple-compartment Bin Option of a Integral asphalt plant of 10 Tph "
                class="w-full rounded-2xl"
                width={568}
                height={405}
            />
        </div>
    </div>
    <div
        class="relative flex flex-col items-center justify-center bg-grisT w-full"
    >
        <div class="relative w-full max-w-7xl mx-auto">
            <Image
                src={img1}
                alt="Triaso Logo"
                class="absolute top-1/4 right-0 w-full max-w-7xl"
            />
            <div class="px-8 lg:px-52 z-10 py-8 relative">
                <h1 class="text-lg lg:text-xl text-white">
                    Tecnología a Gran Escala en un Formato Compacto
                </h1>
                <br />
                <p class="text-base lg:text-lg font-normal text-bgMain">
                    La Planta de Asfalto Integral Triaso® de 10 TPH no es un
                    equipo simplificado ni limitado, sino una versión a escala
                    de nuestros tambores mezcladores, tanques de asfalto y
                    tolvas, construida con los mismos componentes industriales y
                    principios de diseño, todo en uno, adaptado a una estructura
                    compacta. Esto garantiza que, incluso en operaciones de
                    menor escala, se mantenga la misma calidad de producción,
                    durabilidad y eficiencia que se encuentran en las plantas de
                    asfalto de gran capacidad.
                </p>
            </div>
        </div>
    </div>
</div>
