---
import img1 from "../../assets/logos/triasoLogo.webp";
import triple1 from "../../assets/images/IntegralAsphalt/triple1.webp";
import triple2 from "../../assets/images/IntegralAsphalt/triple2.webp";
import { Image } from "astro:assets";
---

<div class="w-full flex flex-col items-center justify-center font-bold mt-20">
    <h1 class="px-4 py-5 lg:px-52 text-xl lg:text-2xl text-blueMain text-center">
        Sell at a lower price, attract more costumers, and achieve higher
        profits
    </h1>
    <div class="w-full max-w-7xl mx-auto px-8">
        <Image src={triple1} alt="Top of a Integral asphalt plant of 10 Tph" class="rounded-2xl" width={681} height={548} />
    </div>
    <div
        class="grid grid-cols-1 md:grid-cols-2 justify-center items-center max-w-7xl mx-auto px-8 mt-4 md:mt-10"
    >
        <div class="flex flex-col items-start justify-start">
            <div class="flex flex-col lg:pr-5 items-start justify-start w-full">
                <h1 class="text-xl lg:text-2xl text-blueMain">
                    Triple-compartment Bin Option
                </h1>
                <p class="text-grisT">
                    For jobs where speed matters, you can choose the optional
                    triple-compartment bin. This lets you load raw material
                    directly—no dosing, no waiting. Just throw in your
                    aggregates and start production.
                </p>
            </div>
        </div>
        <div class="flex py-5 justify-end items-end w-full">
            <Image src={triple2} alt="Triple-compartment Bin Option of a Integral asphalt plant of 10 Tph " class="w-full rounded-2xl" width={568} height={405} />
        </div>
    </div>
    <div
        class="relative flex flex-col items-center justify-center my-4 bg-grisT w-full"
    >
        <div class="relative w-full max-w-7xl mx-auto">
            <Image
                src={img1}
                alt="Triaso Logo"
                class="absolute top-1/4 right-0 w-full max-w-7xl"
            />
            <div class="px-8 lg:px-52 z-10 py-8 relative">
                <h1 class="text-lg lg:text-xl text-white">
                    Full-Scale Technology in a Compact Format
                </h1>
                <br />
                <p class="text-base lg:text-lg font-normal text-bgMain">
                    The Triaso® 10 TPH Integral Asphalt Plant is not a
                    simplified or limited system—it’s a scaled version of our
                    high-capacity drum mixers, built with the same
                    industrial-grade components and design principles. It
                    includes a counterflow dryer drum, external pugmill mixer,
                    full-size burner, and precision dosing systems, all adapted
                    to a compact structure. This ensures that even in
                    small-scale operations, you maintain the same production
                    quality, durability, and efficiency found in large asphalt
                    plants.
                </p>
            </div>
        </div>
    </div>
</div>
