---
import img1 from "../../assets/images/AsphaltPlant/render2.webp";
import Image from "astro/components/Image.astro";
---

<div
    class="w-full flex flex-col items-center font-bold mt-16 max-w-7xl mx-auto px-8"
>
    <div class="flex justify-end items-end w-full mb-10">
        <h1
            class="text-xl md:text-4xl text-end pb-4 border-b-2 border-b-blueMain"
        >
            Integral asphalt plants of 10 Tph
        </h1>
    </div>
    <div>
        <div class="space-y-10 w-full">
            <p class="text-grisT lg:text-xl text-base">
                The Triaso® 10 TPH Integral Asphalt Plant offers a compact,
                all-in-one solution for efficient asphalt production. It
                combines key components such as a counterflow drum mixer,
                external pugmill mixer, aggregate bin, asphalt tank, fuel tank,
                electric generator, and control cabinet — which can be
                integrated with our supervision software for real-time data
                monitoring, regardless of your location. <br />
            </p>
            <p class="text-grisT lg:text-xl text-base">
                All mounted on a mobility chassis or stationary legs, this plant
                is designed for flexibility, ease of transport, and reliable
                performance in various operational environments.
            </p>
        </div>

        <div class="aspect-[1216/745] w-full my-4">
            <Image
                src={img1}
                alt="Integral asphalt plants of 10 Tph"
                class="w-full h-full object-cover"
                fetchpriority="high"
            />
        </div>
    </div>

    <style>
        h1,
        p {
            text-wrap: balance;
        }
    </style>
</div>
