---
import { Image } from "astro:assets";
import RAProv5 from "../../assets/images/RapBins/Gallery/RBG4.webp";
---

<section
    class="w-full max-w-7xl px-8 mx-auto flex flex-col justify-center font-bold text-grisT"
>
    <div class="w-full mt-20 md:mt-32">
        <h1 class="text-3xl md:text-4xl">
            RAP (Reclaimed Asphalt Pavement) Bin Units
        </h1>
        <br />
        <p class="text-sm lg:text-lg md:text-lg">
            Triaso® RAP Bins are designed for accurate storage and controlled
            delivery of reclaimed asphalt pavement (RAP) within the hot-mix
            production line. Built for long service life, they integrate
            seamlessly into the production process, minimizing downtime and
            maximizing operational efficiency.
        </p>
    </div>
    <div class="w-full flex justify-center">
        <Image src={RAProv5} alt="RAP (Reclaimed Asphalt Pavement) Bin Unit" fetchpriority="high" loading="lazy" />
    </div>
</section>
