---
import Boxes from "../../../assets/images/Boxes.webp";
import { Image } from "astro:assets";
---

<section class="w-full flex flex-col justify-center items-center px-8 mt-10 space-y-3">
  <div class="w-full flex flex-col items-start max-w-7xl space-y-2">
    <h1 class="text-3xl md:text-5xl font-bold text-grisT">Refacciones</h1>
    <div class="w-28 lg:w-72 h-0.5 bg-[#393939]"></div>
  </div>
  <div class="w-full flex flex-col gap-10 font-bold max-w-7xl">
    <p class="text-base md:text-lg text-grisT">
      Las refacciones Triaso son fabricadas con precisión para ofrecer un
      desempeño óptimo, prolongando la vida útil de los componentes y del equipo
      en general. Con una calidad y confiabilidad incomparables, aseguramos
      mantener la máxima eficiencia mientras minimizan el tiempo de inactividad.
      <br />
      Entendemos la importancia de mantener su equipo funcionando sin interrupciones.
      La operación de muchas otras máquinas depende de la confiabilidad de su planta
      de asfalto.
      <br />
      Estricto control de calidad que garantiza la operación de su planta de asfalto
      con bajo mantenimiento durante muchos años.
    </p>
  </div>
</section>
