---
import { Image } from "astro:assets";
import Hero1 from "../../assets/images/About/Delivery/deliveryAsp.webp";
import GallerySlider from "../../components/unitComponents/GallerySlider";
import g1 from "../../assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabA.webp"
import g2 from "../../assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabB.webp"
import g3 from "../../assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspA.webp"
import g4 from "../../assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspB.webp"
import g5 from "../../assets/images/BinUnits/GallerySlider/Big/TmbC110P286Trab.webp"
import g6 from "../../assets/images/BinUnits/GallerySlider/Big/TmbC110P286TrabB.webp"
import g7 from "../../assets/images/BinUnits/GallerySlider/Big/TmbC110P286TranspA.webp"
import g8 from "../../assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabA.webp"
import g9 from "../../assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabB.webp"
import g10 from "../../assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabRapA.webp"
import g11 from "../../assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TranspA.webp"
import g12 from "../../assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabA.webp"
import g13 from "../../assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabB.webp"
import g14 from "../../assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabC.webp"
import g15 from "../../assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabD.webp"
import g16 from "../../assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspA.webp"
import g17 from "../../assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspB.webp"
import g18 from "../../assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspC.webp"
import g19 from "../../assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspD.webp"
import g20 from "../../assets/images/BinUnits/GallerySlider/Big/consola.webp"
import g21 from "../../assets/images/BinUnits/GallerySlider/Big/tanqueplusA.webp"
import g22 from "../../assets/images/BinUnits/GallerySlider/Big/tanqueplusB.webp"
import g23 from "../../assets/images/BinUnits/GallerySlider/Big/tanqueplusC.webp"
import g24 from "../../assets/images/BinUnits/GallerySlider/Big/tanqueplusD.webp"
import g25 from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268A.webp"
import g26 from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268B.webp"
import g27 from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268C.webp"
import g28 from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268D.webp"
import Whatsbtn from "../unitComponents/Whatsbtn.astro";

const binSlides2 = [
  {
    image: g1.src,
    caption:
      "80 Tmph counterflow mixing drum in working position",
  },
  {
    image: g2.src,
    caption:
      "80 Tmph counterflow mixing drum in working position",
  },
  {
    image:
      g3.src,
    caption:
      "80 Tmph counterflow mixing drum in transport position",
  },
  {
    image:
      g4.src,
    caption:
      "80 Tmph counterflow mixing drum in transport position",
  },
  {
    image: g5.src,
    caption:
      "140 Tmph counterflow mixing drum in working position",
  },
  {
    image: g6.src,
    caption:
      "140 Tmph counterflow mixing drum in working position",
  },
  {
    image:
      g7.src,
    caption:
      "140 Tmph counterflow mixing drum in transport position",
  },
  {
    image:
      g8.src,
    caption:
      "140 Tmph counterflow mixing drum with pugmill, in working position",
  },
  {
    image:
      g9.src,
    caption:
      "140 Tmph counterflow mixing drum with pugmill, in working position",
  },
  // {
  //   image:
  //     g10.src,
  //   caption:
  //     "140 Tmph counterflow mixing drum with pugmill, in working position with RAP",
  // },
  {
    image:
      g11.src,
    caption:
      "140 Tmph counterflow mixing drum with pugmill, in transport position",
  },
  {
    image: g12.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: g13.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: g14.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: g15.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image:
      g16.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image:
      g17.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image:
      g18.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image:
      g19.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: g20.src,
    caption:
      "Control console with computer plus for counterflow asphalt plant",
  },
  {
    image: g21.src,
    caption: "60,000-liter asphalt tank, plus",
  },
  {
    image: g22.src,
    caption: "60,000-liter asphalt tank, plus",
  },
  {
    image: g23.src,
    caption: "60,000-liter asphalt tank, plus",
  },
  {
    image: g24.src,
    caption: "60,000-liter asphalt tank, plus",
  },
  {
    image: g25.src,
    caption: "Triple plus hopper unit",
  },
  {
    image: g26.src,
    caption: "Triple plus hopper unit",
  },
  {
    image: g27.src,
    caption: "Triple plus hopper unit",
  },
  {
    image: g28.src,
    caption: "Triple plus hopper unit",
  },
];
---

<div class="w-full flex flex-col gap-10">
  <!-- Banner -->
  <div
    class="flex justify-center items-center mt-14 lg:mt-0 md:mt-0 lg:max-h-[700px] overflow-hidden bg-bottom"
  >
    <Image src={Hero1} alt="Drum mixer unloaded from a cargo ship" class="" />
  </div>
  <!-- Contenido -->
  <div class="w-full">
    <!-- Header -->
    <div class="max-w-7xl mx-auto px-8 space-y-5">
      <div class="flex justify-end items-center">
        <h1 class="font-bold text-xl lg:text-5xl md:text-5xl uppercase">
          Some Tips for Buying an Asphalt Plant
        </h1>
      </div>

      <div class="space-y-5">
        <div>
          <p class="font-bold text-xl text-[#393939]">
            Purchasing an asphalt plant is a significant investment and serves
            as the foundation of an asphalt mix production business. Buy wisely.
          </p>
        </div>
        <div class="pl-5">
          <li class="text-[#393939]">
            Be cautious with salespeople; they may say anything to make a sale.
          </li>
          <li class="text-[#393939]">
            Dig deeper and investigate anything they can’t answer immediately or
            that doesn’t seem logical.
          </li>
          <li class="text-[#393939]">
            Compare the offerings from each supplier you are considering.
          </li>
          <li class="text-[#393939]">
            Visit the manufacturer or supplier and verify every claim they make.
          </li>
          <li class="text-[#393939]">
            Include us in your visit and verification process.
          </li>
          <li class="text-[#393939]">
            Assign these tasks to an experienced engineer or an external
            consultant.
          </li>
          <li class="text-[#393939]">
            Request plenty of references and verify that they are legitimate.
          </li>
        </div>
      </div>
    </div>
    <!-- Banner -->
    <div class="w-full bg-blueMain p-20 mt-5 h-[28vh]">
      <div
        class="max-w-7xl mx-auto flex flex-col-reverse lg:flex-row md:flex-row justify-between items-center "
      >
        <div class=" py-10 w-full lg:w-4/6">
          <Whatsbtn/>
        </div>
        <div class="flex flex-col justify-end space-y-2 items-end lg:w-4/6">
          <h1 class="font-bold text-white text-2xl lg:text-5xl md:text-5xl uppercase lg:text-end">
            24/7 customer service
          </h1>
          <h2 class="font-semibold text-white text-base lg:text-xl md:text-xl lg:text-end uppercase">
            Our team is available around the clock, ready to assist you at any
            time, even on weekends and holidays.
          </h2>
        </div>
      </div>
    </div>
    <!-- último -->
    <div class="py-10">
      <div class="max-w-7xl mx-auto px-8 bg-white rounded-t-lg h-full">
        <div
          class="w-full p-10 grid grid-cols-1 md:grid-cols-2 gap-20 justify-center items-start"
        >
          <div class="w-full">
            <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
              Evaluate the Plant's Technical Specifications
            </h2>
            <div class="w-full bg-grisT h-[1px] my-3"></div>
            <p class="text-base md:text-lg font-thin text-grisT">
              Ensure the plant you choose aligns with your production goals,
              including mix capacity, fuel efficiency, and environmental
              compliance. Advanced features like modern control systems or
              capabilities for RAP integration can enhance productivity and
              reduce costs.
            </p>
          </div>
          <div class="w-full">
            <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
              Analyze Long-Term Costs
            </h2>
            <div class="w-full bg-grisT h-[1px] my-3"></div>
            <p class="text-base md:text-lg font-thin text-grisT">
              Initial cost is just one aspect of your investment. Assess
              maintenance expenses, spare parts availability, and energy
              consumption over the plant's lifecycle. Reliable manufacturers
              often provide a clear breakdown of these costs.
            </p>
          </div>
          <div class="w-full">
            <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
              Understand the Supplier’s Support
            </h2>
            <div class="w-full bg-grisT h-[1px] my-3"></div>
            <p class="text-base md:text-lg font-thin text-grisT">
              After-sales service can be as important as the plant itself.
              Confirm the availability of technical support, operator training,
              and prompt delivery of spare parts. Suppliers with strong service
              networks can save you significant downtime.
            </p>
          </div>
          <div class="w-full">
            <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
              Inspect the Manufacturing Quality
            </h2>
            <div class="w-full bg-grisT h-[1px] my-3"></div>
            <p class="text-base md:text-lg font-thin text-grisT">
              Focus on the durability and material standards, particularly the
              steel used in construction. Verify certifications that ensure the
              alloy's purity and quality. High-grade materials are essential for
              plants built for heavy-duty applications, as they provide superior
              longevity and can endure demanding operational conditions
            </p>
          </div>
          <div class="w-full">
            <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
              Examine the Environmental Compliance
            </h2>
            <div class="w-full bg-grisT h-[1px] my-3"></div>
            <p class="text-base md:text-lg font-thin text-grisT">
              Regulations around emissions are becoming stricter globally.
              Choose a plant that not only meets current standards but is also
              prepared for future requirements.
            </p>
          </div>
          <div class="w-full">
            <h2 class="text-lg md:text-xl text-blueMain text-center font-bold">
              Check Proven Performance
            </h2>
            <div class="w-full bg-grisT h-[1px] my-3"></div>
            <p class="text-base md:text-lg font-thin text-grisT">
              Ask suppliers for case studies or site visits where their plants
              are operational. Speak with existing customers to understand their
              experiences regarding reliability, efficiency, and support.
            </p>
          </div>
        </div>
      </div>
      <div
        class="max-w-7xl mx-auto rounded-b-lg flex justify-center bg-white py-16"
      >
        <div class="w-4/6">
          <p class="text-base md:text-lg font-thin text-grisT text-center">
            Remember, an asphalt plant is the backbone of your operation.
            Investing time in due diligence now ensures a smoother production
            process and long-term profitability. Reach out to us for
            personalized guidance—we're here to help you make an informed
            decision.
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-7xl px-8 mx-auto">
      <GallerySlider client:only slides={binSlides2} visibleThumbs={6} />
    </div>
  </div>
</div>
