---
import Separator from "../unitComponents/Separator.astro";
import SmartVideo from "../unitComponents/SmartVideo";
---

<section
  class="w-full flex flex-col justify-center items-center mt-20 lg:mt-32 md:mt-32 font-bold text-grisT"
>
  <div class="max-w-7xl px-8 mx-auto pt-5 w-full">
    <h1 class="text-3xl md:text-4xl text-black">
      Triaso® Powder <br /> Additives Bins
    </h1>
    <Separator />
  </div>
  <div class="w-full max-w-7xl px-8 mx-auto text-sm lg:text-lg md:text-lg">
    <p class="">
      Triaso® Powder Additives Bins are engineered for efficient handling and
      storage of powder additives across various industrial applications.
      Designed for optimal storage and transfer of dry, powdered materials, they
      ensure reliable performance in demanding environments.
    </p><br />
    <p>
      Suitable for additives in industries such as asphalt, chemical processing,
      and manufacturing, these bins feature durable construction and
      customizable configurations. Their robust design ensures smooth material
      flow, low maintenance, and long-lasting performance, making them ideal for
      applications requiring precise dosing and handling of powder additives.
    </p>
    
  <div class="max-w-7xl mx-auto pt-5 ">
    <SmartVideo
      client:visible
      src="/Videos/Webm/TolvaAdIng.webm"
      poster="/Gallery/customdes.webp"
      isLoop={false}
      autoplayOnMobile={false}
    />
  </div>


    <!-- <img src="" alt="" /> -->
  </div><br />
  <div class="max-w-[2400px] grid grid-cols-1 md:grid-cols-2 gap-10">
    <div
      class="w-full bg-redBg pl-8 md:pl-32 lg:pl-32 text-white py-6 pr-8 md:rounded-r-2xl"
    >
      <h2 class="text-xl md:text-2xl">Options to Meet Any Need</h2><br />
      <p class="text-sm lg:text-lg md:text-lg text-grisSubP">
        Our powder additives offer versatile options such as flow detectors for
        precise monitoring, level indicators to prevent overflow, and vibrators
        to ensure smooth material flow. Customizable with bin dividers,
        extensions, they adapt to diverse material handling requirements,
        delivering efficiency and reliability in any application.
      </p>
    </div>
    <div class="w-full rounded-2xl bg-white p-8">
      <h2 class="text-black text-lg md:text-xl">
        Adjustable-Speed Screw Feeder for Efficient Material Handling
      </h2><br />
      <p class="text-sm lg:text-lg md:text-lg">
        The screw feeder is an adjustable-speed unit, designed to control the
        flow of materials between 3 and 7 kg/min. Made from durable steel, it
        consists of two sections: one for dosing the material and another for
        feeding it, both equipped with high-power motors to ensure efficient and
        reliable operation.
      </p>
    </div>
  </div>
</section>
