---
import SmartVideo from "../unitComponents/SmartVideo";
import poster1 from "../../assets/images/PowderA/Gallery/PAF1.webp";
import OsDrumSection from "../DrumMixers/OsDrumSection.astro";
import PAPlanos from "./PAPlanos";
import DropdownComponent from "../unitComponents/DropdownComponent.astro";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import SecondWhatsBtn from "../unitComponents/SecondWhatsBtn.astro";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import UltimaSeccion from "../DrumMixers/UltimaSeccion.astro";
import StackScroll from "./StackscrollPowder";
---

<section>
  <StackScroll client:only/>
</section>

<section class="max-w-7xl mx-auto px-8 space-y-10">
  <div class="flex justify-center items-center">
    <h1 class="text-[#14427C] font-bold text-4xl text-center">
      Componentes de larga vida útil para un desempeño duradero y un mejor
      retorno de inversión.
    </h1>
  </div>

  <div>
    <DropdownComponent title="Opciones para cualquier necesidad">
      <div class="space-y-5">
        <p>
          Nuestros alimentadores de aditivos en polvo con tolva ofrecen opciones
          versátiles como detectores de flujo para un monitoreo preciso,
          indicadores de nivel que evitan sobrellenados y vibradores que
          aseguran un flujo uniforme del material.
        </p>
        <p>
          Con divisores y extensiones configurables, se adaptan a distintos
          requerimientos de manejo de materiales, ofreciendo eficiencia y
          confiabilidad en cualquier aplicación.
        </p>
      </div>
    </DropdownComponent>
  </div>

  <div class="max-w-7xl mx-auto pt-5">
    <SmartVideo
      client:visible
      src="/Videos/Webm/TolvaAdIng.webm"
      aspectRatio="16/9"
      poster={poster1.src}
      isLoop={false}
      autoplayOnMobile={false}
    />
  </div>
</section>

<section>
  <div>
    <OsDrumSection />
  </div>

  <div>
    <!-- <OSection /> -->
    <TwoColumnSection
      leftBg="bg-redBg"
      rightBg="bg-blueMain"
      imageSrc={Tred.src}
      imageAlt="Red T icon"
      imageWidth="150px"
    >
      <div slot="left" class="flex flex-col justify-center gap-3">
        <h1 class="text-xl md:text-2xl">Servicio al cliente 24/7</h1>
        <p class="text-sm md:text-base lg:text-lg">
          Nuestro equipo está disponible en todo momento, listo para asistirte
          cuando lo necesites, incluso fines de semana y días festivos.
        </p>
        <SecondWhatsBtn />
      </div>

      <div slot="right" class="flex flex-col justify-center gap-3">
        <h1 class="text-xl md:text-2xl">
          Productividad y calidad a precios competitivos
        </h1>
        <p class="text-sm md:text-base lg:text-lg">
          Nuestros clientes eligen Triaso sobre otras marcas por nuestra
          calidad, confiabilidad, precio y servicio.
        </p>
        <SecondWhatsBtn />
      </div>
    </TwoColumnSection>
  </div>
</section>
<PAPlanos client:only />
<UltimaSeccion/>
